[2015-07-27 07:51] hekike opened #3 "support sub-documents"

[2015-07-27 07:51] hekike opened #4 "support object type"

[2015-07-27 07:52] hekike opened #5 "support update queries"

[2015-07-27 12:17] hekike opened #6 "support create queries"

[2015-07-27 12:18] hekike opened #7 "support remove queries"

[2015-07-27 12:19] hekike opened #8 "support buffer type"

[2015-07-29 04:32] gyzerok opened #11 "Confusing readme example"
What does following code from readme example means? How can we return from a module?
[code]

[2015-07-29 05:27] hekike commented on #11
@gyzerok hi, the example used `co` earlier and this allowed me to `yield` the promise.
I've changed the example now it uses Promise.
https://github.com/RisingStack/graffiti-mongoose/commit/0ec8290cb8ebee534c5754feedba42a7a2ba23e9

Does i help?

[2015-07-29 07:46] gyzerok commented on #11
Thanks, now its clear to me

[2015-07-29 07:46] #11 closed

[2015-07-29 07:48] gyzerok opened #12 "Mutation implementation"
Is there any estimate time for mutation implementation?

[2015-07-29 07:52] hekike commented on #12
@gyzerok we don't have detailed roadmap yet, but first we would like to finish the queries. Object type, field excluding etc. are still missing.

[2015-07-29 07:57] hekike opened #13 "support field exclusion"
Option to able to exclude exposing fields to GraphQL.

[2015-07-29 08:13] gyzerok commented on #12
@hekike do you think so? I guess it would be nice to have both queries and mutations implemented in some way so everyone can start to use this tool, of course on hes own risk. Than you can implement it with maximum features.

[2015-07-29 10:04] gyzerok commented on #12
Also I'm confused about version number. Why it 1.0 if you haven't finished core functionality?

[2015-07-29 10:08] hekike commented on #12
@gyzerok yes it would be good to have mutations as soon as possible.
About version: we realised it with 1.0.0 and we are following http://semver.org

[2015-07-29 10:58] gyzerok opened #15 "Fragments support"
- [x] Inline fragments support
- [x] External fragments support

[2015-07-29 10:58] gyzerok commented on #15
I'm going to investigate in external fragments support and come with PR.

[2015-07-29 11:09] gyzerok opened #16 "Remove lodash dependency"
What do you think about removing lodash?

[2015-07-29 11:38] hekike commented on #16
@gyzerok I don't understand this question. From where do you get it?

[2015-07-29 11:38] hekike commented on #15
Ok thanks!

[2015-07-29 11:45] hekike commented on #16
Ok I understand now, so you want to remove it.

Why? Do you think it's a good idea?

[2015-07-29 13:20] gyzerok commented on #16
@hekike I am now sure, but isnt it better to have as minimal dependency list as possible? It looks like you use just a few lodash functions in your code.

[2015-07-29 13:23] hekike commented on #16
@gyzerok yes it's good to keep it on minimum but I'm iterating over Objects instead of Arrays and in thnk `lodash` is doing it well. If we want to optimise it then in `lodash` it's possible to require only the specific functions and decrease the bundled code size. I think it would be a better strep.

[2015-07-30 05:01] gyzerok opened #17 "Links to commits in changelog"
I suggest to add links to commits in changelog.

[2015-07-30 05:36] hekike commented on #17
Yes. I've seen this issue.
We are generating the `CHANGELOG.md` with the same tool ([conventional-changelog](https://www.npmjs.com/package/conventional-changelog)) as in the main `graffiti` project: https://github.com/RisingStack/graffiti/blob/master/CHANGELOG.md

In `graffiti` it's working well. I don't know the reason yet.

[2015-07-30 05:40] hekike commented on #16
@gyzerok maybe turning or mapish Object -s to ES6 `Map` etc. would help us to use `for of` and other ES6 features with babel and would make it possible. I will investigate it later.

[2015-07-30 06:38] gyzerok commented on #16
@hekike suppose its better use more functional approach. ```for of``` is an imperative one :)

[2015-07-30 08:07] hekike commented on #16
Ok then I close this issue.

[2015-07-30 08:07] #16 closed

[2015-07-30 13:40] gyzerok opened #18 "Getting selectionSet from fieldASTs with external fragment"
How can I get ```selectionSet``` from fieldASTs with external fragment?

Consider following query

[code]
This query results in
[code]

Now lets take a look in InlineFragment version

[code]
We can easily access requested fields for fragment in ```selectionSet```
[code]

I'm currently working on conversion fieldASTs to MongoDB projections. I've done with InlineFragment. Any thoughts?

[2015-07-30 13:43] gyzerok commented on #15
Waiting answer on [the issue](https://github.com/RisingStack/graffiti-mongoose/issues/18) in GraphQL.js.

[2015-07-30 13:44] gyzerok commented on #18
Woops! Its an issue for GraphQL team. Sorry.

[2015-07-30 13:44] #18 closed

[2015-07-30 14:36] hekike commented on #15
@gyzerok ok cool. I refactored the project structure, so please check it before start implementing something: https://github.com/RisingStack/graffiti-mongoose/tree/master/src

[2015-07-31 04:09] gyzerok commented on #15
@hekike nice work! But I'm suggesting to use a little bit different file names. For example projection.js can be named getProjection.js. It's less confusing and this naming style is being used now in most repos as far as I know. Same with the schema.js - getSchema.js and etc.

[2015-07-31 04:13] gyzerok commented on #15
Also I think it would be nice to split core and utilitary modules. Core modules in our case seems to be those which implements a graffiti adapter interface and are directly connected to scheme generation while ```getProjection``` is just an util. So I propose to create 2 dirs in ```src/```  (```core/``` and ```utils```) and split code between them. What do you think about this?

[2015-07-31 04:14] gyzerok commented on #15
***P.S.:*** Or mb better names are ```adapter/``` and ```utils/```.

[2015-07-31 06:44] hekike commented on #15
@gyzerok I agree that we should do some improvement here, but I'm not 100% sure what would be the best for now. Let's wait a little bit with this, until everything will be clear in my mind.

Btw it would be great to have a short Skype call about the future of `graffiti` if you are really interested in. What do you think?

[2015-07-31 14:58] gyzerok commented on #15
@hekike Since I've started to play around GraphQL I thought about a tool to map existing MongoDB schema into GraphQL schema to avoid code duplication. How exited I was when found graffiti! So I'm very happy that I can help you somehow.

It mb be hard to speak to each other cuz of my poor verbal english skills. But we can try. Find me as ```gyzerok```.

[2015-07-31 16:36] brysgo commented on #3
Here is the [hack I'm using](https://gist.github.com/brysgo/c4abb28928be7df19cd6) to add subdocuments after I get the types back from graffiti-mongoose.

[code]
In case it helps whomever is implementing this.

[2015-08-01 05:17] hekike commented on #15
@gyzerok I added fragment support and tests with a workaround: https://github.com/RisingStack/graffiti-mongoose/commit/25fc49cc8c709d1f7413f111560b61570f4504da

But we should fix this when `graphql-js` starts support getting the required fields.
Thanks to handling this!

[2015-08-01 06:00] hekike commented on #17
I found the issue: git links were missing from the `package.json`

https://github.com/RisingStack/graffiti-mongoose/commit/2602415cc89f997f85f96b4d2241fc2ff55c6d07

[2015-08-01 06:00] #17 closed

[2015-08-01 07:13] hekike commented on #3
@brysgo thanks, but I mean under subdocument when it is:

[code]

For Array of ObjectId references `graffiti` works, like this:
[code]

[2015-08-01 13:07] brysgo commented on #3
I guess I misunderstood. I was unable to query through an objectid reference before. Is that supported? Where can I find an example?

[2015-08-01 13:13] hekike commented on #3
@brysgo https://github.com/RisingStack/graffiti-example but I just realised that it's only array of refs. Simple ref is missing, I'm going to do during this weekend.

[2015-08-01 22:00] brysgo commented on #3
Thanks!

[2015-08-02 08:22] hekike commented on #3
@brysgo done. ObjectID support with reference is finished and released as `v1.6.0`.

[2015-08-12 09:01] hekike commented on #15
@gyzerok they fixed it: https://github.com/graphql/graphql-js/issues/96 ;)

[2015-08-12 10:06] gyzerok commented on #15
@hekike Yes, saw it todays morning :) Gonna come back with a solution in a few days if you not hurry.

[2015-08-12 10:09] gyzerok opened #20 "Relay release"
@hekike have you seen todays [Relay](https://facebook.github.io/relay/) release? You may be interested in [middleware for express](https://github.com/graphql/express-graphql) provided by FB team.

[2015-08-12 12:13] hekike commented on #20
@gyzerok yes. Exciting and `graffiti` should move forward to support it, but I didn't really have time to dig deeper.

[2015-08-20 13:13] fcmatteo opened #21 "Test failing: e2e"
Hi, I've cloned the project and all the e2e singular query tests are failing. It's just happening to me or there's something wrong?

[2015-08-22 16:23] hekike commented on #21
Hi! Do you have running MongoDB on your machine? It's needed for E2E tests.

[2015-08-23 22:21] hardchor opened #22 "Road towards relay compatibility"
N.B.: Moved this from https://github.com/RisingStack/graffiti/issues/7

Just putting some thoughts down of currently missing features:

### [Unique Object IDs](https://facebook.github.io/relay/docs/graphql-object-identification.html#content)

Relay wants to be able to (re-)fetch any object in the graph by a unique ID via a root query named `node`:
[code]

Relay methods: `fromGlobalId`/`toGlobalId`

[2015-08-23 22:23] hardchor commented on #20
@gyzerok @hekike just noticed this when I moved https://github.com/RisingStack/graffiti-mongoose/issues/22 over. I don't think we're far off. Feel free to contribute your thoughts.

[2015-08-24 07:41] hardchor commented on #21
I'm experiencing the same. I can see it creating the test entities in mongo, but it throws this error:

[code]

For reference, the error occurs here: https://github.com/RisingStack/graffiti-mongoose/blob/master/src/e2e.spec.js#L85

[2015-08-24 08:25] hardchor commented on #21
Just tested a singular endpoint in my app and I'm getting the same.

[code]

[2015-08-24 08:29] hardchor commented on #21
Sorry for the spam.

This could be down to this issue: https://github.com/Automattic/mongoose/issues/2646

[2015-08-24 10:13] hekike commented on #21
@hardchor @fcmatteo do you still think this is an issue with `graffiti-mongoose`? I'm quiet surprised, we are also running the e2e tests on TravisCI. I don't see any issue with them: https://travis-ci.org/RisingStack/graffiti-mongoose/builds

[2015-08-24 17:03] fcmatteo commented on #21
I'm sorry, I have been busy with other stuff, but yes, I have MongoDB running. In fact, the db 'graffiti-test' was created with the 'users' collection, which is empty.

[2015-08-25 12:06] hardchor commented on #21
Had mongoose 4.1.3.
Force-installed 4.0.6 - still broken.
Reset, reinstalled - works.

What on earth?

[2015-08-26 11:00] fcmatteo commented on #21
I force-installed mongoose@4.0.6 and it worked.

[2015-08-26 11:00] #21 closed

[2015-08-28 15:05] hardchor commented on #22
@hekike @gergelyke Are you guys still developing this? Feels like the project is already dead before it even got off the ground...

[2015-08-28 15:52] gergelyke commented on #22
hi @hardchor,

thanks for raising them! in the past weeks sadly we did not have the time that this project would deserve - could you help us out and send a PR with these?

[2015-08-28 19:50] hardchor commented on #22
I'm still at the crossroads which route to take:

* mongo - mongoose - graffiti or
* SQL - bookshelf - graphql-bookshelf

Before I invest any significant amount of time, how likely are you to continue this project, i.e. are you going to be using it in production apps or is it all still a bit in the air?

[2015-08-28 19:55] hardchor commented on #12
:grin:

[2015-08-29 06:03] gergelyke commented on #22
We definitely want to use it in production applications - with that said, I would go for finishing up one graffiti adapter implementation first, this one, so we will have a reference when working with others, like bookshelf.

What do you think?

[2015-08-29 21:04] hardchor commented on #22
Totally agreed. Could have a bit of a catch up on Skype if you fancy.

[2015-08-30 13:47] gergelyke commented on #22
in which timezone are you in? let's find a time which can work.

cc-ing in @hekike

[2015-08-30 22:52] hardchor commented on #22
GMT. Added you both to https://gitter.im/hardchor/graffiti

[2015-09-24 04:29] thucnc opened #25 "support mongoose virtual fields"
Hi,
Does this library support mongoose virtual fields ?

[2015-09-24 15:17] magalhas opened #26 "custom resolve for a field"
Hi,

I would like to know if there's a way (or if you're envisioning one) of having a custom resolve method for a specific field. For instance, imagine I've got a field that to be populated I must engage with a third party API or another database.

Best regards.

[2015-09-28 08:05] hekike commented on #25
hi @thucnc not yet, currently we are working actively on this project I hope we can delivery this feature soon. Please feel free to send pr if you know how to solve this!

[2015-09-28 08:08] hekike commented on #26
hi @magalhas not yet but good idea. Could you send a pr?

[2015-09-29 03:02] funkytek commented on #6
Would like to help support mutations- can you publish your existing work on mutations to a branch so we could contribute?

[2015-09-29 19:43] parkan commented on #22
Given that the cursors are specified as _opaque_, I don't see why cursors and globally unique IDs need be the same. The global id could take the format of `$collection:$_id` and cursors could be `$_id` if indexing into a collection (data structured with parent references) or maybe even numerical offsets if indexing into a subelement of child references.

[2015-10-02 10:06] burkhardr commented on #22
@parkan They are opaque, bus as you already noted, encoded as a globally unique ID (just a simple base64 encoding)

[2015-10-07 20:22] hardchor commented on #26
I guess a good place would be the graffiti models used internally? Maybe we can pick up a resolve method from mongoose models (if provided) and use them instead of the ones generated.

[2015-10-07 20:34] tothandras commented on #26
@hardchor I agree. Eventually the graffiti models to graphql models generator should be in a different package. I made progress to decouple the implementation in this direction.

[2015-10-09 14:21] tothandras commented on #22
We have added the `node(ID!)` endpoint and pagination support and we are currently working on the mutation support. The new version is published on npm (`^3.0.0`). Your feedback is welcome!

[2015-10-09 14:22] #20 closed

[2015-10-09 14:23] #15 closed

[2015-10-09 14:24] tothandras commented on #8
The `Buffer` type has been added.

[2015-10-09 14:24] #8 closed

[2015-10-16 15:00] nha opened #33 "not require the use of babel-node in npm package"
I am already using babel-node programmatically in my project. But babel-node doesn't go through node_modules. If I instruct it to do so, then it fails on an express middleware ("static is a reserved keyword").
It would make it easier to not require the use of `babel` in the npm package.

[2015-10-16 15:09] tothandras commented on #33
I am not sure if I understand it right, but graffiti-mongoose is transpiled to `ES5`, if you install it using `npm`, it shouldn't be a problem.

[2015-10-16 15:13] nha commented on #33
You understood right. Is there a way for me to get rid of that error ?

[code]

[2015-10-16 15:20] nha commented on #33
It looks like it should be possible using `babel-node` arguments, but I am fuzzy on the details and asked a question there : http://stackoverflow.com/questions/33174008/babel-node-not-ignore-some-node-modules

[2015-10-16 15:20] hekike commented on #33
@nha hi it's a generator function. You don't need babel for that just use the latest Node.js: 4.x.x

[2015-10-16 15:21] nha commented on #33
@hekike Ah thanks let me try that.

[2015-10-16 15:27] nha commented on #33
Alright it seems to solve the issue (I have another one related to gyp-rebuild and probably osx but it seems unrelated so I will close this issue). Thanks @hekike.

[2015-10-16 15:27] #33 closed

[2015-10-16 15:31] hekike commented on #33
@nha ok, sure! Probably you need to update some of your packages and I also recommend to remove `node_modules` folder and `npm install` it again because the updated `node-gyp`. More info here: https://nodejs.org/en/blog/weekly-updates/weekly-update.2015-09-04/

[2015-10-17 21:34] hekike opened #34 "Example prefilled query"
It would be nice to add a sample query to the GraphiQL example when application starts.

[2015-10-18 08:15] gergelyke commented on #22
I guess we can close this, right?

[2015-10-18 21:47] hardchor commented on #22
I think we're still some way off full relay compatibility:

* `viewer` endpoint
* mutations

[2015-10-19 05:27] tothandras commented on #22
The `viewer` endpoint and mutations have already been added. Check out the latest version!

[2015-10-19 05:27] #22 closed

[2015-10-19 18:06] nha opened #39 "graphiQL integration"
I am using express and mongoose, and I suspect many do.

It would nice to have an example of a graphiQL (https://github.com/graphql/graphiql) integration.

Is the graphQL schema exposed somewhere ?

[2015-10-19 18:24] tothandras commented on #39
Take a look at the example application, it uses graphiQL. We have a plan to serve a graphiQL instance on /graphql, but it will be part of `graffiti`. Based on our progress it should be available in the next two weeks.

[2015-10-19 18:50] nha commented on #39
Great !

A few questions if you don't mind :

- is it used in production somewhere ?
- is there a limit on mongoose/express versions to be used ?

[2015-10-19 19:11] tothandras commented on #39
@nha As GraphQL itself this is an experimental project. This project is maintained and continuously evolving. I think it got to the point where you can use in production. This is not dependent on express at all, you can use any web framework to expose graphql. `graffiti-mongoose` generates the GraphQL schema from Mongoose schema, it saves you from writing it manually.

[2015-10-19 19:14] tothandras commented on #13
You can use the hidden option to exclude a field from exposure:
[code]

[2015-10-19 19:14] #13 closed

[2015-10-19 19:15] tothandras commented on #12
Mutations are currently supported, most likely there will be changes in the payload formats.

[2015-10-20 11:03] nha commented on #39
Thanks for the reply.

I had a look at the example app (https://github.com/RisingStack/graffiti-example), but I did not see a graphiQL integration ?

My question regarding the versions is : does graffiti-mongoose needs this exact version : https://github.com/RisingStack/graffiti-mongoose/blob/master/package.json#L47
( "mongoose": "^4.1.11" ) ?
Or is it known to work with older versions (ex. I have

[2015-10-20 14:12] tothandras commented on #39
@nha The GraphiQL example is [here](https://github.com/RisingStack/graffiti-mongoose/tree/master/example). It uses Mongoose promise APIs internally, most likely it won't be working. The change history might be useful: https://github.com/Automattic/mongoose/blob/master/History.md, I can't say for sure.

[2015-10-20 21:53] ivawzh commented on #3
+1 for support for sub document and object type

[2015-10-23 07:45] nodkz opened #42 "Support permission for queries and mutations"
I am begginner with mongoose and graphql, and want ask to provide an example how add additional logic with graffiti-mongoose. For example:
[code]
1. How I can realize `me` schema? According to the authorized user data in session I want obtain a current user profile.
2. And how I can add filter only for `active friends` according to the session data? (*Usual user* can see only `active friends`, *ad

[2015-10-23 08:16] tothandras commented on #42
@nodkz Custom resolve logic is currently not possible with the API, but we will add it soon. Most likely next week. I will paste here a snippet how to do it, when it's available.

[2015-10-23 08:31] nodkz commented on #42
Great! Thank you. I will wait with impatience.

Also it will be nice if you add ability to provide middleware for schema here
https://github.com/RisingStack/graffiti/blob/master/src/koa/index.js#L12

I am start migrating from ruby to nodejs about one month ago, so I am not so free filling to do PR now.

[2015-10-23 19:48] stanonyime commented on #42
+1

[2015-10-26 14:59] tothandras commented on #42
We have proof of concept for authorization, field manipulation and other custom actions:
- specify `before` and `after` hooks in your schema
[code]
You can use the `context` parameter to pass in fields like `auth` when you call `graphql`.
[code]

@nodkz @stanonyime Tell us what you think!

[2015-10-27 08:37] nodkz commented on #42
Simple. And many peoples will be used this way.

BUT I want recommend you implement another way - like [Redux Middleware](http://rackt.org/redux/docs/advanced/Middleware.html).

[code]

where `authRequired` function can look like:
[code]

PS. I have no practical experience how to implement it, but theoretically it will be more reusable, self-documented. And not be similar to jQuery-way ;)

@gaearo

[2015-10-27 21:40] tothandras commented on #42
@nodkz I've implemented something similar, please [check it out](https://github.com/tothandras/graffiti-mongoose/blob/master/src/type/type.js#L60)!

[2015-10-28 08:05] rushidesai opened #45 "Inverse references"
If I have two schemas like this:

    var personSchema = Schema({
      name    : String,
      age     : Number,
    });

    var storySchema = Schema({
      _creator : { type: Schema.Types.ObjectId, ref: 'Person' },
      title    : String,
      fans     : [{ type: Schema.Types.ObjectId, ref: 'Person' }]
    });

It would be nice to be able to add a connection from person to stories that resul

[2015-10-28 10:29] nodkz commented on #42
Awesome! Great thanks.

I think it is no problem if get just single function. Instead of exception, you can made `middleware = [middleware]`. How I understood it will be called only once with schema initialization.
[code]

PS. I think I missed something: went to learn `await` and `async`, and how it intersects with promises.

[2015-10-28 22:13] tothandras commented on #42
@nodkz Sure! I will allow a single function too. It is called on each `resolve`.

[2015-10-30 05:01] rushidesai opened #48 "Cursors don't work"
In query.getList:

    selector._id = {
      $in: _id.map((id) => processId({id}))
    };

_id is not an Array. It is actually `{ $gt: ... }`

[2015-10-30 06:43] tothandras commented on #48
Can you demonstrate the problem? I can't see the error in the code.

[2015-11-01 13:56] tothandras commented on #39
@nha this [PR](https://github.com/RisingStack/graffiti/pull/12) includes GraphiQL option on GET when requesting `/graphql` for `graffiti`

[2015-11-01 16:17] nha commented on #39
Cool :) I played with `graffiti` and it is nice. I still have to upgrade Mongoose to be able to use it in a real project though.

I guess it is time to close this issue.

[2015-11-01 16:17] #39 closed

[2015-11-02 07:39] tothandras commented on #48
@rushidesai Please provide more info, or I will close this.

[2015-11-02 07:41] #12 closed

[2015-11-02 07:41] #7 closed

[2015-11-02 07:42] tothandras commented on #6
Mutations are supported.

[2015-11-02 07:42] #6 closed

[2015-11-02 07:42] #5 closed

[2015-11-03 13:26] tothandras commented on #48
@rushidesai I am closing this for now, ping me if you have anything.

[2015-11-03 13:26] #48 closed

[2015-11-03 13:27] tothandras commented on #26
I am closing this in favor of #42.

[2015-11-03 13:27] #26 closed

[2015-11-03 13:32] tothandras commented on #34
[Example queries](https://github.com/RisingStack/graffiti-mongoose/tree/master/example#example-queries) have been added to the readme.

[2015-11-03 13:32] #34 closed

[2015-11-05 22:11] moret opened #53 "Edge ordering"
Hi.

I was looking for a way to order edges based on the parent document array, but couldn't find a way. For example, given a model with `Person` and `Destinations` and a database:
[code]
and a query:
[code]
I would expect the result:
[code]
Is that currently possible with graffiti? I couldn't find a way to do it, nor to order in other collections. Thank you in advance for the attention!

[2015-11-06 10:11] tothandras commented on #53
@moret It's not currently possible to specify an order. It could be implemented by adding an `orderBy` enum type to arguments based on the fields of the type. We can add this feature request to our list, or you can send in a PR ;). Also, you can always do the ordering on the client side.

[2015-11-09 14:09] moret commented on #53
@tothandras I see. I would love to dive in and help with a PR, I'm just not sure if I will be able to right now. But I will keep an eye around. Thank you for your reply!

[2015-11-09 14:09] #53 closed

[2015-11-10 05:31] tabakd opened #55 "Add item to edge of node"
I'm trying to add a Slide to a Deck's array of Slides but I can't seem to find a mutation that works. Below is my Mongoose schema.
[code]

[2015-11-10 08:47] tothandras commented on #55
Hi @tabakd!

The generated schema looks like this:
[code]

You can also use the built in [GraphiQL](https://github.com/RisingStack/graffiti#usage) IDE to explore the schema.

***Add a new Deck:***

[code]

The response is:

[code]

***Add a slide:***

[code]

The response is:

[code]

***Using the slides id, we can change the slides of a deck to include it:***

[code]

Response:

[code]

There is

[2015-11-10 15:25] tothandras commented on #42
@nodkz Resolve hooks on type fields has been added, soon we will have something similar for root fields too: https://github.com/RisingStack/graffiti-mongoose#resolve-hooks

[2015-11-11 03:06] nodkz commented on #42
![13453182948429](https://cloud.githubusercontent.com/assets/1946920/11082887/5d3d005c-8853-11e5-8ccc-ba7725d8a28e.png)

Awesome! Thanks.

[2015-11-11 18:55] tabakd commented on #55
Hm. When I try to update the deck with a slide array it replaces all the slides rather than adds it to the list.

[2015-11-12 16:34] jontonsoup opened #56 "Silent failure with graphiql hanging on body parse"
I'm not exactly sure whats going here here, but I installed graffiti-mongoose on my own user schema

[code]

In my expressjs server file I have this.
[code]

It appears that when I load graphql localhost:8080/graphql

graffiti is hanging on this line when the first introspection query is passed (38 in the published source):

      `return (0, _coBody.json)(request).then(function (body) {`

The que

[2015-11-12 16:37] tothandras commented on #56
Hi!
Have you connected to the mongodb?https://github.com/RisingStack/graffiti/blob/master/example/schema/index.js#L6

[2015-11-12 16:39] jontonsoup commented on #56
Here are the relevant parts of my server.js -- I am connecting to mongo and express graphql was working before on my normal schema. I just tested my normal schema as well with graffiti and its not working, so its possible this issue should be posted in that repo.

[code]

[2015-11-12 16:43] tothandras commented on #56
Are you sure these 3 lines are necessary?
[code]

I am only on my phone, just guessing.

[2015-11-12 16:45] jontonsoup commented on #56
@tothandras no worries! Any help is appreciated :).

I know CORS it necessary for some other things I'm doing unrelated to graphql, but I haven't factored it out into a mounted sub-app yet. Let me see if removing them will change it.

[2015-11-12 16:47] jontonsoup commented on #56
hah, that was quick :).

The body parser was holding everything up. Thanks for the help!

[2015-11-12 16:47] #56 closed

[2015-11-12 16:50] tothandras commented on #56
I'm glad I was able to help! :)

[2015-11-13 09:42] tothandras commented on #42
@nodkz, @hardchor
Support for query and mutation hooks #57

[2015-11-15 09:47] sulliwane opened #58 "How to use graffiti-mongoose to generate the original graphql schema.js ?"
Hi,

I have a mongoose Schema, and I'd like to have a look at the original Graphql that is generated by graffiti-mongoose. Is there some way to let graffiti-mongoose export a Schema.js file?

btw, thank you for the great work :+1:

[2015-11-15 09:58] tothandras commented on #58
Hi @sulliwane,

you can save the user readable version of the schema to a file by using this script:
[code]

[2015-11-15 10:47] sulliwane commented on #58
@tothandras I just tried your code, and I get this error:

[code]
I ```npm install babel-polyfill@6.1.19 ```, and also put ```require("babel-core/register");``` at the top of your script as my schema use ```import``` and it was not recognized.

I use node v5.

Any idea where the problem comes from? Is it related with babel 6? Thank you for you help

[2015-11-15 10:50] tothandras commented on #58
@sulliwane
You need to pass an array to the `getSchema` function. In this case `mongooseSchema` must be an array.

[2015-11-15 11:00] sulliwane commented on #58
ok, it works now! awsome. Relay compatibility layer is still black magic though, so I need to take some time to make sense out of it...thanks!

[2015-11-15 11:00] #58 closed

[2015-11-15 11:10] tothandras commented on #58
@sulliwane take a look at [graffiti-todo](https://github.com/RisingStack/graffiti-todo)!

[2015-11-16 07:36] tothandras commented on #42
@nodkz With hooks you can implement all these features now. ;)

[2015-11-16 07:36] #42 closed

[2015-11-17 12:39] tothandras commented on #58
@sulliwane also :) https://blog.risingstack.com/graffiti-mongoose-mongodb-for-graphql/

[2015-11-17 13:15] sulliwane commented on #58
@tothandras awesome, thanks for the notification :)

[2015-11-17 18:54] marcoreat opened #59 "Sorting by arbitrary field"
Is there a way to specify the order of items returned by the server, e.g. `{ sort: { score: 1 } }`?

As far as I know, Relay and GraphQL have no concept of sorting. I was wondering if graffiti-mongoose allows adding the `sort` parameter to the generated queries. Or maybe there is a way to build custom queries and attach them to auto-generated ones?

[2015-11-17 19:27] tothandras commented on #59
@marcoreat #53 There was already an issue with the same request. It seems like that you are not the only one who asks for this. :) Please read my comment there and let me know what do you think.

[2015-11-18 09:48] marcoreat commented on #59
Thanks for the reply. I've read the linked thread, looks good to me.

In this case it's a +1 from me for the `orderBy` field and for adding this task to your feature request list.

[2015-11-18 10:05] tothandras commented on #59
@marcoreat Okay, added. Are you using Relay? Because you can easily sort on the client side. :)

[2015-11-18 12:40] marcoreat commented on #59
Thanks!

Yes, I'm using Relay. However AFAIK client side sorting would require fetching all the documents first and I want to avoid it (I'm dealing with large sets of data).

[2015-11-18 13:26] tothandras commented on #59
Good point!

[2015-11-18 16:35] hardchor commented on #59
In the meantime, you could easily do it yourself with hooks!

On Wed, 18 Nov 2015 at 13:26 András Tóth <notifications@github.com> wrote:

[2015-11-18 16:50] marcoreat commented on #59
@hardchor I've tried it already, but didn't succeed.

I've assumed that I would be able to prepare a hook that injects the `sort` option into a mongoose call. But none of the arguments provided by `pre` or `post` seems to give access to the mongoose's mongodb query. Did I miss something? Is there another way?

[2015-11-18 17:21] tothandras commented on #59
Currently it [sorts by _id](https://github.com/RisingStack/graffiti-mongoose/blob/master/src/query/query.js#L283), let me figure out how you can change it with hooks. I need to rewrite the logic in the source code too.

[2015-11-18 23:45] marcoreat commented on #59
Here's a patch that adds the `orderBy` enum type. Feedback? Suggestions?
Feel free to use or modify this implementation if you like.

[code]

[2015-11-19 01:18] jontonsoup opened #60 "Mongoose Objects returning invalid json"
Not sure if this is irrelevant b/c future plans to support mongoose objects https://github.com/RisingStack/graffiti-mongoose/issues/4.

But currently the string type returned is invalid json. It appears the json returned has single quotes instead of doubles.

This (invalid JSON)
[code]
Compared to this (valid):
[code]

If you point me to the right file, I can make a PR. Also, maybe I'm being silly

[2015-11-19 02:29] sulliwane commented on #58
hi tothandras, When exporting the graphql.schema file using graffiti-mongoose and your script, the file is not written in plain javascript. It's graphql syntax I guess. Is there any way to export a javascript version? Also, where are the resolve functions in this file? (replaced by resolve-hooks?)

trying to understand what's going on... Thanks

[2015-11-19 11:03] tothandras commented on #59
@marcoreat Let me try it out ;)

[2015-11-19 11:06] tothandras commented on #58
@sulliwane I am not sure what do you mean "javascript" version. :) You can print it out as it is if you like, but looking at the source code would make more sense.
You can find a `resolve` function on every query, mutation and field. Take a look at the source code or the [graphql-js](https://github.com/graphql/graphql-js) documentation.

[2015-11-19 11:12] sulliwane commented on #58
this is what it looks like when exported using graffiti-mongoose:
[code]

and this is what my schema looks like ("javascript"):
[code]
I need to read more about graphql, I may not be using it the right way...

[2015-11-19 11:13] tothandras commented on #58
@sulliwane It's calling a lot of constructors as you can see, I am pretty sure you can't view it as it is.

[2015-11-19 11:24] tothandras commented on #60
@jontonsoup
We use single quotes by design. Take a look at the [generic](https://github.com/RisingStack/graffiti-mongoose/blob/master/src/type/custom/generic.js) type. If it were using double quotes the JSON would be broken. As far as we can trust the error messages. :)

[2015-11-19 12:11] tothandras commented on #59
Thank you @marcoreat! I have used your code with a few changes: #61. I prefer to use upper case for enum types.

[2015-11-19 12:36] marcoreat commented on #59
I like your changes, :+1: .

[2015-11-19 16:03] jontonsoup commented on #60
@tothandras ah, I was unclear in my original issue. I have an array of objects as defined like this in my schema:

[code]

The result ends up like this:

[code]

Which is returning invalid json.

Best,
Jon

[2015-11-19 16:24] tothandras commented on #60
@jontonsoup Currently graffiti-mongoose is not creating `GraphQLObjectType`s for sub documents, instead it handles it as it would be a [`generic`](https://github.com/RisingStack/graffiti-mongoose/blob/master/src/type/custom/generic.js) type. If it were using double quotes it would break the JSON (`"key": "{"subkey": 1}"` the 4th quote closes the value). The solution would be to create new types fo

[2015-11-19 16:27] jontonsoup commented on #60
Ah okay -- to clarify. Do you mean a new mongoose schema or a new graphql type / is there an example online somewhere?

Thanks!
Jon

[2015-11-19 16:29] tothandras commented on #60
The library should handle it with defining new GraphQL type. :) In the meantime you can define new mongoose schema and use object references.

[2015-11-19 16:33] jontonsoup commented on #60
@tothandras awesome! Thanks.

[2015-11-20 10:55] burkhardr commented on #59
What about `name asc` or `name ASC'? Seen it used that way in several other tools.

[2015-11-20 13:05] tothandras commented on #53
@moret Please take a loot at #61!

[2015-11-20 13:13] moret commented on #53
@tothandras looks great! In my use case I still need to use the association array own ordering which got solved in memory on the client as you suggested, but the `orderBy` solved all other sorting cases. Thanks a lot for the attention to that! 8)

[2015-11-20 13:18] tothandras commented on #53
@moret Is it okay if I merge it as it is? :)

[2015-11-20 13:33] moret commented on #53
@tothandras sure!

[2015-11-20 13:38] tothandras commented on #59
#61 is merged and released under `4.3.0`.

[2015-11-20 13:38] #59 closed

[2015-11-20 13:39] tothandras commented on #53
@moret #61 is merger and released under `4.3.0`. ;)

[2015-11-20 13:59] marcoreat commented on #59
Thanks! :tada:

[2015-11-23 04:31] zuhair-naqvi opened #62 "Support for Mongoose methods and statics"
Is there a way to wire up the existing model methods and statics with resolve functions?

i.e. if my model `User` has a method `User.statics.findSimilar()` is there a way for me to expose this as a GraphQL type?

If this was a new application I would use pre and post hooks but theres TONNES of existing business logic within the mongoose statics that I would rather not replicate by hand!

Any thoug

[2015-11-23 06:12] burkhardr commented on #62
Are you talking about `static` (model level) or `method` (instance level)?
I'm not sure how much sense exposing `static` would make

There isn't at the moment (as far as I know), but I'd imagine it wouldn't be too hard to implement.

[2015-11-23 07:58] zuhair-naqvi opened #63 "Adding field hooks to existing model"
The field hook example shows creation of a new model using mongoose.schema, how do I add field hooks to existing models?

Eg. If I want to format the a timestamp into 'x hours ago' string. Please see pseudo-code for what I'm trying to achieve:

`
var User = mongoose.model('User')
User._created.hooks = {
  post:  [
    (next, date) => next(moment(date).fromNow())
  ]
}
`

I'm sure there's a way to

[2015-11-23 08:11] zuhair-naqvi commented on #62
@burkhardr Take the example of Animal.search from http://mongoosejs.com/docs/2.7.x/docs/methods-statics.html

In a lot of cases existing Mongoose schemas have business logic implemented as schema statics which I think become instance methods by default when a model is instantiated.

I think it makes sense for graffiti-mongoose to automatically add a Animal.search as a resolve function instead of r

[2015-11-23 08:12] tothandras commented on #63
@zuhair-naqvi It's not so easy. If it's an existing model you need to assign the hooks to `User.schema.paths._created.options.hooks`.

[2015-11-23 08:53] zuhair-naqvi commented on #63
@tothandras that worked, thanks heaps! The next thing I'm trying to figure out is how to return the formatted date which is a string as a virtual property something like `User.createdAgo` so I can return this in the query result but not have it persisted (I believe if I just add it to `User.schema.paths` the next time I save the document it will be written too?

[2015-11-23 08:57] tothandras commented on #63
@zuhair-naqvi Virtual fields are not supported currently (#25), but you can try to modify the `paths`, it might work. I can look into virtual fields today, how can we support it.

[2015-11-23 09:22] zuhair-naqvi opened #64 "Extending schema"
getSchema returns a GraphQLSchema object based on MongooseModels, how do I go about adding my own types to this schema?

Consider the use case:
I have a `Post` object with `getLikedFriends` method, which looks up all `Post.likes` references and queries `Users` collection to check if any of the `User.friends` references for the loggedIn user match with `Post.likes`

So instead of creating a new Mon

[2015-11-23 09:28] zuhair-naqvi commented on #62
See #64 for a real use case

[2015-11-23 10:29] zuhair-naqvi commented on #64
In short I'm trying to figure out how to add types that resolve over arbitrary code over mongoose models, given the biggest selling point of GraphQL is the ability to query over arbitrary code, there should be a canonical way to do this with graffiti-mongoose

[2015-11-23 10:36] tothandras commented on #64
@zuhair-naqvi Do you have a preferred API for `getSchema` to add this feature?

[2015-11-23 12:58] zuhair-naqvi commented on #64
I think producing the schema directly from models is too restrictive, instead the top-level item in the getSchema array could be a higher-order object that specifies the model and any arbitrary queries to be added to the model's field definition. Graffiti could then pass the instance of the model as the first parameter to the resolve method of each query, allowing for something like the following

[2015-11-23 14:19] marcoreat commented on #64
+1 for providing a way to extend the default set of queries (and hopefully mutations too).

I also like the idea to add a new config step so that not everything is exposed by default. This is the most common use case anyway: I believe most people would want to expose only a subset of their queries and mutations. I know that it's possible to hide fields or restrict access with hooks, but it's messi

[2015-11-23 14:38] zuhair-naqvi commented on #64
Perhaps add a fields property to config which allows you to choose which default bindings you wish to expose so the resulting object might look like:

[code]

This would be necessary for anyone with existing application code to be able to use graffiti-mongoose for real use cases.

[2015-11-23 14:48] zuhair-naqvi commented on #63
I think #64 will address this use case too!

[2015-11-23 21:35] burkhardr commented on #64
Feels like we're re-inventing the wheel here. You're wrapping what looks suspiciously like the [graffiti model](https://github.com/RisingStack/graffiti-mongoose/blob/master/src/model/model.js#L102) around your mongoose model. Maybe we could just give the user the opportunity to pass in the graffiti model themselves and/or merge it with our generated model?

[2015-11-24 01:28] zuhair-naqvi commented on #64
@burkhardr you're right. There needs to be a way to augment graffiti models, to pass in the array of exposed fields as well as attach callbacks to the graffiti model that receive the model instance, args and AST for querying - haven't given mutation much thought yet but this should generally work for both.

The other question this brings up is how you attach additional types say I want to fetch so

[2015-11-25 12:48] zuhair-naqvi commented on #64
Any further thoughts?

[2015-11-25 21:17] tothandras commented on #64
@zuhair-naqvi I am open to changes! First, we definitely need to split up this project into 2. Migrate out the non Mongoose specific parts into an independent library, that would make creating new adapters easier and we could take advantage of the graffiti model too. I will be really busy in the next few weeks though (finishing school), I am happy to see PRs and following suggestions!

[2015-11-29 00:29] voronianski opened #66 "Return better mongoose errors"
For example I have model with required field:

[code]

but when I send mutation to server like `{"mutation { addUser(input: {clientMutationId: "1"}) { clientMutationId } }"}` I receive not well enough descriptive error:

[code]

[2015-11-29 20:47] tothandras commented on #66
Hi @voronianski! The error messages are not specified by `graffiti-mongoose`. An error message could come either from Mongoose or from GraphQL itself (caught exception for example).

[2015-11-30 08:19] voronianski commented on #66
@tothandras it's mongoose error but it should be overwritten with `'Email is required'` message specified in mongoose schema, what version of mongoose do you use?

[2015-11-30 11:18] tothandras commented on #66
@voronianski `4.2.8`

[2015-11-30 11:46] AbrahamAlcaina commented on #3
Hey, first thanks for this report.
Do you have any update o this issue?

[2015-12-03 00:06] mincedmit opened #67 "Mutation resolve hooks question"
Hi!

You mentioned in the docs:

Curious what is meant by "passing arguments to the next function..." -- how does one make use of this functionality?

One example of what I'm trying to do is get access to the original mutation context object (the third argument to the pre hook) in the post hook.  The reason for that is I want to introspect on the mutation that occurred to determine any side effect

[2015-12-03 09:53] tothandras commented on #67
Hi @mincedmit!
Take a look at the PR #68. You will be able to access the context in post hooks too. If you want to add something to the context in a pre hook and use it in a post hook, you can do that now.

[2015-12-03 17:20] tothandras commented on #67
@mincedmit Please close the issue if version `4.3.1` fixed your issue.

[2015-12-03 18:31] #67 closed

[2015-12-05 07:10] jashmenn commented on #64
I agree that we definitely need a way to extend the current schema, preferably with easy access to the existing schema.

I think there's two things we need to be able to do:

1. Add queries and mutators to existing `mongoose.Schema`s/`mongoose.model`s
2. Add arbitrary extensions and resolves to the schema

For #1, we could add `queries` and `mutators` to the `mongoose.Schema` directly:

[code]

Fo

[2015-12-06 00:26] jashmenn commented on #64
I've been looking more into this and I just wanted to leave a tip for anyone else trying to extend the graffiti-mongoose schema.

_Just a word of warning, this uses private variables so it's a bit of a hack until an official way to extend the schema is available._

Basically the idea is that instead of using `getSchema` we'll use `getFields` and 1. extract the `RootQuery` 2. modify it 3. use your

[2015-12-08 04:50] vangavroche opened #70 "Global ID returned in Query vs. ID used in Mutation"
It looks like the object ID returned in query is converted to GlobalId (by the graphql-relay since the globalIdField is used).

But in the mutation, the ID sent from the client is directly passed to the Mongo so some casting error will be reported. https://github.com/RisingStack/graffiti-mongoose/blob/master/src/schema/schema.js#L120

Will it be fixed in the framework, or should I handle it in the

[2015-12-08 04:51] vangavroche commented on #4
Do you mean this https://github.com/RisingStack/graffiti-mongoose/blob/master/src/schema/schema.js#L124 ?

If so, it is not fixed since Jul 27?

It seems to be quite an important feature.

[2015-12-08 06:44] tothandras commented on #70
Hi @vangavroche!
Did you try it? Mutations should handle both global (`id`) and mongoose (`_id`) ids.

[2015-12-08 08:31] vangavroche commented on #70
In the example https://github.com/RisingStack/graffiti-mongoose/blob/master/example/user.js where User has friends that are also "User"s

After I created two users (without any friends), the query responses of "users {id, name}" are like

[code]

The generated mutation to add user has input that contains
[code]

When I try to add a user using mutation

[code]

It won't work, since the ID is not su

[2015-12-08 08:32] vangavroche commented on #70
Do you mean when I query the ID to set such association ("friends" in this case), I should explicitly get the _id to use?

Using query like this:
[code]

[2015-12-08 08:41] vangavroche commented on #70
BTW, is there any special reason why the singular object reference is not supported in the mutation field generation?

https://github.com/RisingStack/graffiti-mongoose/blob/master/src/schema/schema.js#L124

In the case like
[code]

 owner field is not used as the mutation input.

To me it seems an easy problem to solve

[code]

But I wonder if there's anything I'm missing.

[2015-12-08 08:46] tothandras commented on #70
@vangavroche Okay, the add mutation error is a real bug, see #71 for a quick fix.
I am looking into the object input now.

[2015-12-08 09:06] tothandras commented on #70
@vangavroche I've added the reference support too, although we might need more testing.

[2015-12-08 12:17] vangavroche commented on #70
@tothandras  thanks.

[2015-12-08 12:19] tothandras commented on #70
@vangavroche Can you verify that it resolves your issues? :) I could have missed something. Please add a thumbs up to the PR, I will merge it then.

[2015-12-08 13:09] tothandras commented on #66
@voronianski anything else? Can we do something to improve the error messages?

[2015-12-08 14:21] vangavroche commented on #70
Yes, it works and solves the issue.

[2015-12-08 14:27] #70 closed

[2015-12-08 14:30] tothandras commented on #70
Released under `v4.3.2`.

[2015-12-09 11:23] voronianski commented on #66
@tothandras sorry I don't have time to investigate it now, will close it for now.

[2015-12-09 11:23] #66 closed

[2015-12-10 23:22] rushidesai opened #72 "Two fields with the same name across different schemas result in conflicting connection type"
var PersonSchema = new Schema({
      friends: {
        type: [mongoose.Schema.Types.ObjectId],
        ref: 'Person',
      }
    });

    var EmployeeSchema = new Schema({
      friends: {
        type: [mongoose.Schema.Types.ObjectId],
        ref: 'Employee',
      }
    });

This results in generating `friendsConnection` twice.

[2015-12-11 07:50] tothandras commented on #72
@rushidesai Is it causing an error on type creation, right? What names should you prefer in this case? `PersonFriendsConnection` & `EmployeeFriendsConnection`?

[2015-12-14 12:59] tothandras commented on #55
Hi @tabakd! I've added support for appending elements to arrays, take a look at this PR: #73!

[2015-12-15 19:05] rushidesai commented on #72
Those names are unique and hence would work.

[2015-12-16 09:02] tothandras commented on #72
@rushidesai #74

[2015-12-17 12:30] #72 closed

[2015-12-18 01:43] dzannotti opened #75 "[possible bug] updating array of strings"
having described in my model `images: [String]` when i attempt to save
[code]

in the database seems to save
[code]

This doesn't seems to be consistently reproduceable but seems to happen only when the value of the string contains hashes (perhaps they get confused at times with `ObjectId`?)

[2015-12-18 02:30] tothandras commented on #75
Yes, you are right! There is a fix hidden in [this](https://github.com/RisingStack/graffiti-mongoose/commit/6aa58202cd0b8c882a7ecf06a6588c23a21e4817) commit, but it hasn't been released yet. I'll do a release soon, it will most likely fix your problem.

[2015-12-18 02:34] dzannotti commented on #75
Sadly I'm already using that version and doesn't seem to fix the issue

[2015-12-18 03:10] tothandras commented on #75
hmm... strange :/ Let me take a look at it in a few hours (just got home from the SW premier, it's already 4am :)) It would be nice if you could test it too, so you might find where the error comes from.

[2015-12-18 12:15] tothandras commented on #75
Okay, I think it's fixed now. Try out version `5.0.1`!

[2015-12-18 13:58] dzannotti commented on #75
@tothandras oh wow, i wasn't expecting such a quick fix! Was going to write some tests for it and PR tonight with a fix, but you got was waaay ahead of me. Will test it out, that's great, i do wonder if a safer way to figure out if the id is of mongo or global relay is to verify if it ends with `=` as originally was checking along other things, graphql-relay uses base64 encoding to it'll always en

[2015-12-18 14:29] tothandras commented on #75
Yes, you are right! I was thinking about that before, but as far as I know
`=` at the end indicates duplicated characters or something. I wasn't brave
enough to use this, but at the same time I couldn't find an ID without it.
:)

On Fri, Dec 18, 2015, 14:58 Daniele Zannotti <notifications@github.com>
wrote:

[2015-12-18 14:46] dzannotti commented on #75
To the best of my knowledge `=` is used as padding to indicate that the last character encoded is 8 or 16 bits, so in theory not every base64 string would end with a `=` however i never came across one that didn't have it. Not had the chance to try the fix yet however after reporting this issue, it seem to have appear randomly on other string fields (not necesarly arrays). WIll upgrade and investi

[2015-12-18 15:03] tothandras commented on #75
@dzannotti You are most certainly right, I don't trust my memories. :) Update me if you tried it!

[2015-12-19 00:04] dzannotti commented on #75
yep confirmed working in 5.0.1, thank you for this!

[2015-12-19 00:04] #75 closed

[2015-12-19 09:15] tothandras commented on #75
@dzannotti Thanks for the bug report!

[2015-12-23 22:05] jashmenn commented on #3
FWIW I think this is fixed in https://github.com/RisingStack/graffiti-mongoose/commit/c473304dbbf14792e6ba65fdffdcec3f929187f6

[2015-12-31 12:25] #55 closed

[2015-12-31 15:59] jkempff opened #77 "orderBy argument has no effect"
The two `orderBy` tests in `e2e.spec.js` dont fail, if you switch `NAME_DESC` to `NAME_ASC` (and vice versa).

I noticed, that the actual `Collection.find` call in `query.js` gets called with

[code]
instead of
[code]

It seems like the order keys somehow don't get resolved into the corresponding mongoose option.
If you can give me a bump in the right direction, I'd be happy to fix this.

[2015-12-31 20:38] tothandras commented on #77
schema.js and query.js should contain everything you need. I will look into
it too.

On Thu, Dec 31, 2015, 16:59 jkempff <notifications@github.com> wrote:

[2016-01-02 17:31] #77 closed

[2016-01-02 23:20] neverfox opened #79 "Cannot get example to work"
No matter what I try as a query, I get the following error in devtools (react.min.js):

[code]

[2016-01-03 04:10] dsifford commented on #79
@neverfox Can you provide an example of some of the queries you are trying?

[2016-01-03 04:24] neverfox commented on #79
Well, I'm a total newbie when it comes to graphQL, but I was trying things from the examples like:

[code]

I assume that if was just badly formed, I'd get an error inside of graphiql, but it's just failing at the source code level somehow. Do you know of a query that you know should work that I could try?

[2016-01-03 04:46] dsifford commented on #79
Hm.. I see what you mean..

The GraphiQL instance is not getting access to the database on my end. Tried to spin up the example on my end and no dice either.

@neverfox are you able to open up the "Doc" sidebar and see the schema? If not, you probably have the same issue.

I'd usually troubleshoot, but I'm strapped for time and I'm not familiar with koa.

[2016-01-03 04:46] neverfox commented on #79
Nope, no schema.

[2016-01-03 09:25] tothandras commented on #79
Make sure that MongoDB is running.

[2016-01-03 18:21] dsifford commented on #79
@tothandras Not sure that's the issue. MongoDB runs as a service on my machine (Ubuntu Wily) and I have no issues using graffiti in my own workflow.

[2016-01-03 18:26] jbach commented on #79
I’m having the same issue, the first `POST` to `/graphql` is pending for quite some time, then fails. If I run the same query (`query IntrospectionQuery…`) via Postman, I get a proper response.

[2016-01-03 18:47] neverfox commented on #79
I'd love to get this sorted since this is my first experience with considering graphQL for my next project (tired of REST endpoints proliferating like bunnies).

Not only is it running, but I'm looking at the pre-populated data in MongoHub, so I know that was successful.

[2016-01-03 18:51] jbach commented on #79
I have tracked down the problem: It works if I don’t use `bodyParser.json()` in my express app. Seems to be a problem with [graffiti](https://github.com/RisingStack/graffiti/blob/master/src/express/express.js#L2) / [co-body](https://github.com/cojs/co-body/blob/master/lib/json.js#L6) / [raw-body](https://github.com/stream-utils/raw-body). Can anyone confirm?

[2016-01-03 19:01] neverfox commented on #79
Since the example uses Koa, that might be the implicit default body parser there.

[2016-01-04 14:04] tothandras commented on #79
Can you try the examples in the [graffiti](https://github.com/RisingStack/graffiti/tree/master/example) project? I can't introduce the errors you are facing with.

[2016-01-04 14:13] jbach commented on #79
@tothandras Regarding express, the problem arises if you [add JSON body parsing](https://gist.github.com/jbach/0ee869e63f187dc7ff54) as often suggested/needed by third party plugins. The workaround is to *not* use `body-parser` at root level or to exclude the `/graphql` endpoint via something like [express-unless](https://github.com/jfromaniello/express-unless). Would it be viable to check if the

[2016-01-04 15:14] tothandras commented on #79
@jbach Would it be also viable to require body parsing by the plugin as other plugins do? :) Just drop it altogether and make it a requirement.

[2016-01-04 15:23] jbach commented on #79
Probably. I checked up on [co-body](https://github.com/cojs/co-body), it doesn’t seem to prevent double parsing like [expressjs/body-parser](https://github.com/expressjs/body-parser/blob/master/lib/types/json.js#L92) [does](https://github.com/expressjs/body-parser/blob/master/lib/read.js#L44). I guess shifting that responsibility to the middleware would be *my* personal favorite.

[2016-01-04 15:57] divramod opened #80 "npm install error"
hey, while running npm install i get the following error. do i have the wrong node version?

[code]

[2016-01-04 16:04] tothandras commented on #80
I've tried to run `npm install @risingstack/graffiti-mongoose` with version 3.3.12, no error. Try to reinstall node and/or npm and repair permissions with running `chown -R [yourname] ~/.npm`.

[2016-01-04 16:30] divramod commented on #80
thx, i updated npm and it is installing.
now i got the following error:
[code]

[2016-01-04 16:37] tothandras commented on #80
@divramod `npm prepublish` has an error, so it runs the whole e2e test on install. Keep the mongo daemon running.

[2016-01-06 13:21] tothandras commented on #80
@divramod Did you manage to solve the problem?

[2016-01-07 03:14] divramod commented on #80
Yes thx

[2016-01-07 03:14] #80 closed

[2016-01-10 09:04] cheunghy opened #81 "ReferenceError: regeneratorRuntime is not defined"
Hi, I ran into this error
[code]

[2016-01-10 09:09] cheunghy commented on #81
Adding `require('babel-polyfill');` fixes this issue.

[2016-01-10 09:09] #81 closed

[2016-01-10 10:58] cheunghy opened #82 "Cannot query field "fieldName" on "addSomeCollectionNamePayload""
Hi, Thanks for this fantastic module.

However, when I do according to the example, I get an error. And I don't know why it errors.

The schema
[code]

The query
[code]
The response
[code]

[2016-01-10 11:06] tothandras commented on #82
Hi @cheunghy,
Use the Documentation Explorer (`< Docs` on the right top) of GraphiQL to explore the generated schema if you are unsure about it. In your case the mutation should look like this:
[code]

[2016-01-10 11:11] tothandras commented on #82
Thanks for the notice, the examples are out of date. I will update them.

[2016-01-10 11:18] cheunghy commented on #82
Seems the example is correct, I use it wrongly.

IMHO, it's better to explain in the example why we need "changed...Edge" field, to let novices understand.

[2016-01-10 11:21] cheunghy commented on #82
Thanks.
But I still don't understand why it needs to wrap the value in changed...Edge and node.

[code]

[2016-01-10 13:22] tothandras commented on #82
@cheunghy It's necessary because this is how Relay requires the data. See [graffiti-todo](https://github.com/RisingStack/graffiti-todo).

[2016-01-13 20:55] #82 closed

[2016-01-17 17:53] nikolasleblanc opened #83 "Possiblity the docs are out of date?"
Have tried running the demo, and this query, as described in the docs, from the local graphql server:

[code]

returns an error:

[code]

while _this_ query works fine:

[code]

So I wonder if the docs may be out of sync?

[2016-01-18 07:22] tothandras commented on #83
Thanks for the catch, it seems to be out of date! I'll update it shortly.

On Sun, Jan 17, 2016, 18:53 Nikolas LeBlanc <notifications@github.com>
wrote:

[2016-01-18 08:13] tothandras commented on #83
Fixed. ;) Thank you for opening the issue!

[2016-01-18 08:13] #83 closed

[2016-01-18 15:38] nikolasleblanc commented on #83
No problem, thanks for addressing the issue so quickly!

[2016-01-23 13:38] sibeliusseraphini opened #84 "Schema must contain unique named types but contains multiple types named"
I defined my models in different files using mongoose, when I try to import all of them I receive this erro:

[code]

[2016-01-23 13:56] tothandras commented on #84
Can you copy - paste your schema code? It seems that you have multiple types or fields with the same name.

[2016-01-23 15:57] sibeliusseraphini commented on #84
A.js
[code]
B.js
[code]
C.js
[code]
server.js
[code]

[2016-01-23 15:59] sibeliusseraphini commented on #45
related to #64

[2016-01-23 19:11] tothandras commented on #84
@sibeliusseraphini I've got a fix for you. I don't have time right now to finish it, write tests, etc (having an oral exam on Monday). Can it wait until Monday, Tuesday?

[2016-01-23 19:32] sibeliusseraphini commented on #84
@tothandras If you tell me in which file or a little more about this error, I can fork this repo and try to fix it and submit a PR

[2016-01-23 19:36] tothandras commented on #84
`type.js` line 196:
[code]
Although there is already a field name capitalisation somewhere in the file, you might create a function for that. Thank you!

[2016-01-23 19:39] sibeliusseraphini commented on #84
thanks, I will try to figure it out

[2016-01-23 21:00] sibeliusseraphini opened #85 "ReferenceError: regeneratorRuntime is not defined on npm run coverage"
I'm receiving this error on ```npm run coverage```

[code]

[2016-01-23 21:02] tothandras commented on #85
Babel polyfill is a peer dependency of this project: add `require('babel-polyfill')` to your application entry point.

[2016-01-23 21:15] tothandras commented on #85
`"coverage": "NODE_ENV=test babel-istanbul cover _mocha -- --require babel-polyfill 'src/**/*.spec.js'"` does work. ;)

[2016-01-25 16:09] #84 closed

[2016-01-28 18:19] sibeliusseraphini commented on #85
it works with the comment above

[2016-01-28 18:19] #85 closed

[2016-01-29 09:19] kaminskypavel commented on #79
+1 still having the same issue.

![graphql](https://cloud.githubusercontent.com/assets/4253088/12671702/26dd895e-c67a-11e5-976d-f15cd164f50e.png)

[2016-01-29 10:00] rturk opened #87 "Graffiti - Running out of memory"
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory

I'm constantly getting our of memory errors and my app crashes.

==== JS stack trace =========================================

Security context: 0x1991fcae3ac1 <JS Object>
    1: /* anonymous */(aka /* anonymous */) [/usr/local/lib/node_modules/babel-cli/node_modules/core-js/modules/es6.promise.js:~67] [pc=0xc21e0f8675] (

[2016-01-29 10:00] rturk commented on #87
@sibeliusseraphini

[2016-01-29 11:29] rturk opened #88 "FR - Middleware to log queries to a another repository"
Feature request: Log queries to a database
1) Query text
2) Execution time
3) Date
4) Request source (IP, Auth code, etc)
5) Info about required nodes
6) Filter defines what queries will be logged or not

[2016-01-30 06:46] tothandras commented on #88
You can implement this with a query resolve hook.

[2016-01-31 12:39] rturk commented on #88
Thanks. Including @sibeliusseraphini.
Maybe this should be implemented in the Graphql logic. Ideally any middleware logic ,such as logging, needs to be agnostic from the underling data source.
Comments?

[2016-01-31 18:29] tothandras commented on #88
@rturk Trust me, it's not so hard to implement these in resolve hooks:
[code]

[2016-02-01 14:43] rturk commented on #88
@tothandras tks!

[2016-02-01 19:05] rturk commented on #87
Please close this it was a bug in my code.

[2016-02-01 19:08] #87 closed

[2016-02-01 19:24] KATT commented on #79
+1

[2016-02-01 19:28] tothandras commented on #79
Thanks for the report! I will fix this tomorrow.

[2016-02-02 10:11] #88 closed

[2016-02-02 10:13] tothandras commented on #79
@KATT @jbach @kaminskypavel @neverfox @dsifford
Can you try version `3.0.1`. I've removed the body parsing from the middleware.

[2016-02-02 10:48] kaminskypavel commented on #79
@tothandras , nope, unfortunately still getting `Uncaught TypeError: Cannot read property 'getQueryType' of undefined` .

also please update the readme to port 8081.

[2016-02-02 11:06] jbach commented on #79
@tothandras, it does work for me. :+1:
@kaminskypavel, are you sure you updated both graffiti and graffiti-mongoose?

[2016-02-02 11:13] kaminskypavel commented on #79
I did a clean checkout and install, am I missing something?

[2016-02-02 14:52] rturk opened #89 "Help needed: support null values of referenced fields"
Need help with **null** values when using reference fields.

I have a `NewsFeed` schema that contains a `Product`, or a `Post`, or a `Video`. Defined as follows:

[code]
This means that aNewsFeed document contains a date and one element (one of product, post or video).

Ideally I what to use the GraphQL query bellow and fetch my newsfeed ordered by date and containing the applicable newsfeed eleme

[2016-02-02 14:53] rturk commented on #89
@sibeliusseraphini

[2016-02-02 16:02] KATT commented on #79
Eureka! I was struggling as well and noticed I was using npm `2.14.7` and node `4.2.1`.

Once I did a simple `nvm use 5` it kicked off for me. :tada:

[2016-02-02 20:44] kaminskypavel commented on #79
what version of node was it?

[2016-02-02 21:14] KATT commented on #79
[code]

[2016-02-05 18:26] rturk opened #90 "Error: _id.map is not a function"
I get an error if I use `after` to fetch new items. Example query (below). Query is produced by Relay, but should be self explanatory.

[code]

If I run the same query without `after` it will run successfully, even with a higher number of items

This is my (redacted) model structure:

[code]

I'm using:

    "@risingstack/graffiti": "^3.0.1",
    "@risingstack/graffiti-mongoose": "^5.0.5",
    "ex

[2016-02-05 18:26] rturk commented on #90
@sibeliusseraphini

[2016-02-07 23:18] jontonsoup commented on #45
+1!

[2016-02-13 16:58] azmum opened #91 "Use mongoose-compatible plurals for model names"
Mongoose uses a set of rules to get the plural form of a model name to create the collection.
This is problematic as graffiti-mongoose only adds an "s" to make plurals, and it can be ugly and inconsistent.

I suggest to use [the same rules](https://github.com/Automattic/mongoose/blob/master/lib/utils.js) as Mongoose.

[2016-02-14 09:12] robmanh opened #92 "Order By is not working"
Hi there,
i'm working now a few days with graffiti-mongoose. i like this library very much. But some important issues are missing. Special for modifying queries and mutations. Also for security reasons.
But for this topics are some open issues existing. good job so far :+1:

Now i found a bug without an open task for. If i try to sort by  `users(orderBy:NAME_ASC) ` it return an empty array. The ge

[2016-02-15 08:30] #92 closed

[2016-02-15 08:30] tothandras commented on #92
Thank you, fixed!

[2016-02-15 08:42] tothandras commented on #91
@azmum take a look at #91.

[2016-02-18 08:50] azmum opened #95 "Altering query in hooks"
Is it possible to alter the query in a hook, for example to add a condition to a fragment ?

I am not sure how the next() function behaves

[2016-02-18 08:54] #91 closed

[2016-02-19 19:03] jontonsoup commented on #60
@tothandras would a better solution be to escape the json? This problem is giving me a huge headache in properly parsing the nested json.

[2016-02-19 19:10] tothandras commented on #60
@jontonsoup you can open a PR if you find a nice solution:
https://github.com/RisingStack/graffiti-mongoose/blob/master/src/type/custom/generic.js
[code]

[2016-02-19 19:12] jontonsoup commented on #60
@tothandras

That has actually held me up since November, but I've been running it to silly corner cases. For example, right now the database can't have any `'`s because that would produce invalid json.

I'm running into a use case where I need to save `'` now.

[2016-02-19 19:14] jontonsoup commented on #60
Here is an example.
[code]

if we escaped the values before it was sent over the wire, this could be decoded properly I think.

[2016-02-19 19:15] tothandras commented on #60
@jontonsoup I am really sorry! I haven't had much time for thinking about this. Can you check the linked file and the tests, you might be able to find a good solution.

[2016-02-19 19:29] jontonsoup commented on #60
@tothandras No worries! I looked into it more, and it doesn't look like that file is getting hit specifically.

model_file
[code]

Right now the name field has the quote in it.

[2016-02-20 16:13] zth opened #96 "Using Object refs in plural model query parameters?"
Hi!

Can I somehow use object refs in plural model query parameters? For example, I have two schemas, `User` and `Friend.` `Friend` has a field called `user` which is a `mongoose.Schema.Types.ObjectId` referencing a `User` by id. However, I am not able to query all friends belonging to the user by using user: "userIdHere" in the query parameters. I tried adding `indexed: true` to the field in `Fri

[2016-02-21 17:18] #95 closed

[2016-02-23 12:52] zth commented on #95
I'd be interested in this too, so if you found the answer (and that's why you closed the issue), would you mind sharing what you did...? Thanks!

[2016-02-26 21:49] jontonsoup commented on #96
@zth it doesn't seem like there is the ability to do this at the moment. I'd love it as well, though!

[2016-03-01 04:15] jontonsoup opened #97 "Graffitti breaks on revursive models (Upgrading from 4.3.3 to 5.0.8) RangeError: Maximum call stack size exceeded"
When I upgraded from 4.3.3 to 5.0.8 I'm getting an error (RangeError: Maximum call stack size exceeded) in lodash that seems to be related to recursive schemas.

Here is a summary of my model (This worked in 4.3.3):

[code]

Here is a stacktrace of the error:
[code]

Here is the diff of my package.json
[code]

Any help would be awesome!
Thanks,
Jon

[2016-03-01 04:38] jontonsoup commented on #97
Confirmed this also happens when bumped to 5.0.

[2016-03-05 16:16] vangavroche opened #98 "The 'count' value in the connection (relay)"
Should this 'count' be the total number of the connection (which defines by the filter args, excluding the pagination args)?

The "first / after" are pagination args, but in the Query getCount https://github.com/RisingStack/graffiti-mongoose/blob/master/src/query/query.js#L18  the selector used to count the data contains the "gt", which is used for "after"

I think this is an issue. How do you thi

[2016-03-05 16:17] vangavroche opened #99 "Pagination that involves ordering"
Pagination that involves ordering doesn't work.

Do you have any idea how to fix it elegantly?

Thanks.

[2016-03-09 20:37] tothandras commented on #98
It should be the total count, which helps you with page indication on your UI.

[2016-03-09 20:38] tothandras commented on #99
I will look into this. Thanks for the report.

[2016-03-09 20:39] tothandras commented on #97
Thanks for the report. I will try to reproduce and fix this.

[2016-03-10 08:44] gyzerok opened #101 "Ability to not use Relay-GraphQL"
Is there an ability to not expose Relay-GraphQL schema, but plain GraphQL? I know there were such ability in previous versions.

In this case you stick with the compatibility. It would be awesome to have plain GraphQL with an ability to switch to Relay compatible mode.

[2016-03-13 19:42] tothandras commented on #99
@vangavroche Are you sure it's not working? I just wrote a passing [test](https://github.com/RisingStack/graffiti-mongoose/commit/c4e2d49be438145e5cd9e09e4cee68862239c52d).

[2016-03-13 19:42] #98 closed

[2016-03-14 13:00] tothandras commented on #101
@gyzerok Let me see what I can do. It will take some time, but you can always open a PR. :)

[2016-03-15 00:39] colllin opened #102 "How to extend schema?"
Is there any way to add custom types to the schema?  For example... we're using Auth0.com, so our User types should resolve via the Auth0 API, whereas most other types should resolve via Mongoose.

[2016-03-15 14:57] rturk commented on #102
please look #64

[2016-03-15 20:23] tothandras commented on #97
I've managed to reproduce the error, although I didn't have a solution just yet. :/

[2016-03-16 11:01] vangavroche commented on #99
According to the src  https://github.com/RisingStack/graffiti-mongoose/blob/master/src/query/query.js#L286

The "after" is always determined by the ID, ( > ID). So if there's some ordering, it will break.

Regarding your test, it works because the ordering ( NAME_DESC) happens to be the same as the ID order.

See
[code]

Named descending order:  Mother > Foo > Bar

It is exactly the same order the

[2016-03-16 16:11] rturk commented on #90
With @risingstack/graffiti-mongoose": "^5.0.9" I can run the query.
However still get some errors messages. Looks like this will be fully resolved with https://github.com/RisingStack/graffiti-mongoose/pull/100

[2016-03-17 12:16] ovaris opened #103 "Query by reference"
Hi, newbie question here, how can I query by model reference?
I would like to query all Topic of certain Forum, my models (simplified):
[code]
I would like to

[code]

[2016-03-18 19:19] tothandras commented on #99
@vangavroche You are right. I don't see an easy solution without MongoDB aggregations, but using those will be really painful. Do you see other solutions?

[2016-03-19 13:36] nodkz commented on #64
Adding customQueries and customMutations to getSchema:
https://github.com/wellth-app/graffiti-mongoose/commit/404395f4f801e069f855ee014ea969f2b6cba83c

@tothandras may review it and import

[2016-03-19 14:40] nodkz commented on #99
Other solution is extending logic of GQ `cursor`. For which this thing was introduced to GQ.

### First solution
Use mongodb [cursor](https://docs.mongodb.org/manual/core/cursors/) via [query_stream in mongoose](http://mongoosejs.com/docs/api.html#querystream_QueryStream) and store in `GQ cursor` stringified id of stream, by which you can obtain real stream a load new portion of data
**Pros:**
- n

[2016-03-23 08:59] nodkz commented on #4
Supporting `EmbeddedSchema`s, `Enum`, `InputObjectType` in mutations:
see https://github.com/RisingStack/graffiti-mongoose/pull/104
Just wait when PR was accepted, or fork my branch https://github.com/nodkz/graffiti-mongoose

PS. I hate tests ;) and it difficult for me to write them. So if somebody add tests for my changes, it will be cool. Thanks!

[2016-03-23 08:59] nodkz commented on #3
Supporting `EmbeddedSchema`s, `Enum`, `InputObjectType` in mutations:
see https://github.com/RisingStack/graffiti-mongoose/pull/104
Just wait when PR was accepted, or fork my branch https://github.com/nodkz/graffiti-mongoose

PS. I hate tests ;) and it difficult for me to write them. So if somebody add tests for my changes, it will be cool. Thanks!

[2016-03-23 09:49] tothandras commented on #3
What did I just read... @nodkz

[2016-03-23 12:09] nodkz opened #105 "About splitting the project into a general adapter and a mongoose."
@tothandras said: I have started to split the project into a general adapter (that waits a graffiti model as input) and a mongoose specific one.

Did you share somewhere a Proposal of your changes? How it will look like?

![standards](https://cloud.githubusercontent.com/assets/1946920/13984745/5787e86a-f122-11e5-91a6-ddf98fb4c80d.png)

[2016-03-23 12:24] tothandras commented on #105
@nodkz I will write a detailed proposal, but basically the [Graffiti model](https://github.com/RisingStack/graffiti-mongoose/tree/master/src/model) would be the connection between the adapters. The general adapter would have a Graffiti model as an input and a query object that has all the `getOneResolver `, so on functions.. It is then passed down to every `resolve` function on `info.rootValue`.

[2016-03-24 06:46] nodkz commented on #105
Hmm, may be very interesting. Need code example.

[2016-03-24 08:38] nodkz commented on #105
Found this comment https://github.com/RisingStack/graffiti-mongoose/issues/64#issuecomment-158926841

I'd like this idea, and suggest implement it like wrappers:
[code]

Reusable wrappers under mongoose models is simple and extendable solution.

[2016-03-24 09:09] nodkz commented on #105
For example `virtualFieldsWrapper` can solve task of populating a mongoose virtual fields. Mongoose has not define types for virtual fields. So wrapper can solve this problem:
[code]

Also some hooks may be hidden under wrappers. So wrappers can eliminate extending graffiti options in mongoose schemas.

[2016-03-24 13:02] nodkz commented on #105
Proposal implementation of wrappers: https://github.com/nodkz/graffiti-mongoose/commit/0f72a8b2714312197d3bb149373ecc5e8904faef

[code]

[2016-03-25 06:55] nodkz commented on #105
New problem reveal today. I have `Cv` model, and users can leave `Notes` to it. But `Notes` must be available only to those users who have left it.

`Cv` does not store references to `Notes` (only `Note` know about user and cvId). So I want get such query:
[code]

To solve this problem I should:
- generate GraphQLType for `Notes`, before I call `getSchema`
- add extra field to `Cv` via my wrapper

[2016-03-28 07:44] tothandras commented on #105
@nodkz Thanks for the very detailed proposal! I really appreciate it! :) I will dig into it more as soon as I have some free time.

[2016-03-28 12:42] rturk commented on #89
I'll test this again latter this week using latest releases..

[2016-03-28 22:03] AhmadEl-Banna opened #107 "Question What is Viewer {id}"
What the Viewer id means in graffiti-mongoose ?

[2016-03-29 01:59] nodkz commented on #97
Not sure, cause this fix error with mutation objects, which use new introduced code `toInputObject` few commits ago.

But it can help, if your problem was with mutations. Just try on your project ;)

[2016-03-29 10:51] nodkz commented on #107
Nothing special. It just realization of single root for client side on Relay and React. If you dig react-relay starter kits, most of them use single root eg `Viewer` or `me`, to have single `Query` for routing.

[2016-03-29 11:03] nodkz commented on #105
Also I will use DataLoader ([nice 30 min walkthrough from Lee Byron](https://www.youtube.com/watch?v=OQTnXNCDywA&feature=youtu.be)) between Mongoose and GraphQL. So need ability to switch `getOneResolver` (use or not) this great feature, which can speed up querying for some graphs.

Eg. if we want load authors metadata for 100 articles, best choice would be using `batchLoading` via DataLoader (int

[2016-03-29 14:39] nodkz commented on #105
App schema example https://gist.github.com/nodkz/164f410c78d7a8f01a0d
Extending `Cv` model by field `_userData` in graphQL manner. This field type obtained from another mongoose model `UserDataByRef `, which does not use mongoose references/population.

[2016-03-30 08:27] nodkz commented on #105
For React/Relay components I should have ability use GraphQL Interfaces. Some components can be rendered under different types (so it can be done, if we add interface to such types and will use fragment on interfaceName), so to have such ability I create `ExtraInterfacesWrapper.

Commit: https://github.com/nodkz/graffiti-mongoose/commit/08aa4a394c8b53a442ec05929f1b0035418a1ae0
Updated gist with ap

[2016-04-03 12:33] AhmadEl-Banna opened #108 "Support for graphql subscriptions"
Support for graphql subscriptions ,since it has been released in version 0.4.8 [https://github.com/graphql/graphql-js/releases/tag/v0.4.8](url)

[2016-04-04 02:40] rturk commented on #89
With #100 my use case described above works

[2016-04-04 02:40] #89 closed

[2016-04-04 02:41] #90 closed

[2016-04-09 19:53] #107 closed

[2016-04-09 19:54] tothandras commented on #105
@nodkz Thanks for your effort! Sorry for not being active lately, I will try to keep up with your progress asap.

[2016-04-10 17:32] yoadsn commented on #90
Hey,
I'm getting this error when trying simple pagination from GrapihQL.
I'm on grafitti-mongoose 5.0.10 and as far as I can tell this is not resolved by #100.

The mongoose schema I am using (reduced for brevity):
[code]

And the query resulting in the error:

[code]

Let me know if I can provide any more information on this problem.

[code]

[2016-04-11 23:57] DaveyEdwards opened #110 "Creating nested objects on a Schema"
Not sure if this is possible right now (or good practice).  When I build the schema everything goes fine, but when I try and use GraphiQL to query

`page { header { title}}`

I get this

`{
  "statusCode": 400,
  "error": "Bad Request",
  "message": "User Error: expected iterable, but did not find one for field Page.header."
}`

Something like the following is what I tried instead of having every

[2016-04-12 11:52] yoadsn opened #111 "Error: _id.map is not a function"
Hey,
I'm getting this error when trying simple pagination from GrapihQL.
I also posted this on #90 but since it's closed - I think no one would look at it now.
I'm on grafitti-mongoose 5.0.10 and as far as I can tell this is not resolved by #100.

The mongoose schema I am using (reduced for brevity):

var itemSchema = Schema({
  title: String,
  description: String,
  slug: String,
  tags: String,

[2016-04-12 12:32] rturk commented on #111
https://github.com/RisingStack/graffiti-mongoose/issues/90

[2016-04-12 13:06] rturk commented on #111
Works for me. Do you have all items in the other table (required to complete the query)?

[2016-04-13 13:17] rturk commented on #96
Hi all I don't abou you but this is really important for me. If someone could guide me through the code I'll be able to help

[2016-04-15 02:21] choyongjoon commented on #103
I made a PR for this issue
https://github.com/RisingStack/graffiti-mongoose/pull/112

[2016-04-15 16:00] rturk opened #113 "Text Search - Support queries using MongoDB $text ?"
Hi All,

Has anyone successfully performed queries using full text search (MongoDB $text)? Looks like this is currently not supported.

Something like:

[code]

[2016-04-18 04:48] Secretmapper opened #114 "Schema level mutation hooks"
From the docs, resolve hooks can be added per field in the schema.

For mutations, we define it through a top level hook object we pass to getSchema.

Is there a way to define mutation hooks inside the schema? Like so:

[code]

I've digged around in the source and this doesn't seem to be possible. What seems to be possible is creating a sort of root reducer for the mutations (like redux) and makin

[2016-04-27 15:19] jorgecuesta opened #115 "Multi-Schema for Multi-Tenant"
Hi, have you a way to work with [mongoose-multitenant](https://github.com/jraede/mongoose-multitenant) ?
Should be great a way to dynamically serve models on runtime.
Regards.

[2016-04-29 21:27] gilesbradshaw opened #116 "Introspection"
I'm running the examples however they dont seem t support introspection - ie from graphiql if I click on docs I cannot view them + there is n autocomplete

[2016-04-29 21:44] #116 closed

[2016-04-30 09:18] Secretmapper opened #117 "Nested subdocuments with cursors"
Right now, subdocument arrays are created as GraphQLLists (Psuedocode):

[code]

And ParentSchema.items would be of type GraphQLList. This makes it unfilterable/unpaginable. Support for embedded subdocuments that would be resolved as a node would be great.

[2016-04-30 10:24] tothandras commented on #117
Hi @Secretmapper,
I am short on time recently, I would really appreciate if you could open a PR.
Thank you!

[2016-04-30 19:16] Secretmapper commented on #64
Is there any documentation for customMutations?

For example, how to use existing types generated/defined by graffiti-mongoose for say, the output fields of `mutationWithClientMutationId`

[2016-05-01 12:33] Secretmapper commented on #55
@tothandras Forgive me, I've been banging my head for a while here, but how would you do this with one mutation? As in add a slide to the database and add it to the array of slides as well?

[2016-05-01 12:54] tothandras commented on #55
@Secretmapper You can only do it using two mutations. First you create a slide, then for the other mutation you need to use the returned `id` of that newly included slide to add it to a collection.

[2016-05-03 12:54] Secretmapper opened #120 "Custom Input/Output Type for fields"
Following the Mongoose Schema provides us with an incredibly easy and smooth way to generate GraphQL Schema. However, there are some instances where we may want to use a different GraphQL type than our underlying mongodb type. While customQueries and customQueries solves this to some extent, 'baking' in the the functionality to graffiti-mongoose seems advantageous moving forward.

An example of th

[2016-05-04 18:34] sibeliusseraphini commented on #63
@zuhair-naqvi have you managed to fix this issue?

[2016-05-04 18:40] sibeliusseraphini commented on #64
@zopf could you provide a simple example of customQuery and customMutations?

[2016-05-04 18:58] zopf commented on #64
@sibeliusseraphini please see sample unit tests below taken from https://github.com/wellth-app/graffiti-mongoose/commit/b2b841e7a6d2ff44eb977b2fa1466799c587f037#diff-8b7cf0fa5fd81301d632e0a6f8fb2af6

and to @Secretmapper's point, I ended up working around that by creating a type cache (disabled by default) in the `type` module: https://github.com/wellth-app/graffiti-mongoose/commit/4f59703af1e9293

[2016-05-04 19:05] sibeliusseraphini commented on #64
this custom query is only available on the root node? can i add a custom query inside a Model?

[2016-05-04 19:09] zopf commented on #64
I only added it on the root node.  Haven't really thought about it inside of models...

[2016-05-04 19:15] sibeliusseraphini commented on #64
Inside of models is like a virtual field in fact.

And it would fix some issues: https://github.com/RisingStack/graffiti-mongoose/issues/102, https://github.com/RisingStack/graffiti-mongoose/issues/64, https://github.com/RisingStack/graffiti-mongoose/issues/63, https://github.com/RisingStack/graffiti-mongoose/issues/25

[2016-05-04 21:37] zopf commented on #64
Here's a proposal for these "virtual" fields:

Just add your own fields to the object returned by `type.getTypes(models).YourModel.getFields()`.

Here's an example I just tested and seems to work __on my fork__.  Please note that I'm using my fork's `rebuildCache=false` param as I make the call to `getSchema`, which allows me to use the cached types generated by my first call to `getTypes`.

[code

[2016-05-04 23:06] sibeliusseraphini commented on #64
thanks for the great example @zopf I will take a look tm

[2016-05-07 04:34] evollu opened #121 "validate on update"
I may have missed something but I can't find a way to validate fields like email on update. Is there a way to do it?

[2016-05-07 06:40] Secretmapper commented on #121
I think you should be able to hook it into the Mongoose Schema, though I'm not sure if it will be resolved into a proper graphql type.

[2016-05-07 12:55] evollu commented on #121
@Secretmapper i think your propose for custom input type will definitely help me as I can create a custom graphql type. Are you planning to work on this?
I also tried mutation hooker but it is root level so I can't get what mutation is called

[2016-05-07 13:17] Secretmapper commented on #121
@evollu I can't commit a date, but will probably implement it soon since I also need a custom enum type.

[2016-05-07 13:49] evollu commented on #121
great let me know if I can help

[2016-05-07 23:40] evollu commented on #121
I managed to find a way to do validation by adding root level hook
[code]
but is there a way to respond with standard graphql errors? Is there a way to use graphql/errors in http://graphql.org/docs/api-reference-validation/?

[2016-05-08 02:01] #121 closed

[2016-05-14 00:19] danielbuechele opened #122 "Required fields are not translated into GraphQLNonNull types"
When a field is marked with `{required: true}` in the mongoose model it should be exposed as an `GraphQLNonNull` type in the GraphQL schema.

[2016-05-15 20:18] grimabe opened #123 "Update data in field pre hook"
In my user model I have a **password** field that I would like to hash when the user is created or updated.
I already achieve to do it with mongoose pre save hook.

But it appears to be only working when creating the document because the **update mutation** doesn't seems to use the model save method.

So I thought about using the field pre hook like below but I don't know how to update the value.

[2016-05-17 16:29] tothandras commented on #123
Hi @grimabe,
you can change the arguments like:
[code]
Give it a try and let me know if it worked or not!

[2016-05-17 16:33] tothandras commented on #122
@danielbuechele try `nonNull`

[2016-05-19 13:07] d-winter commented on #101
Any new on this? Would also be interested in this feature

[2016-05-19 13:17] d-winter opened #124 "Non-indexed fields as query parameters"
Hi.

Within the documentation you say:

_Supported query params:
indexed fields_

When I run the example, I can also use non-indexed fields:
`query foo {
  users(name:"User40") {
  	name
  }
}`

Shouldn't this only be possible using the id and the indexed age field?
Thanks for your work so far!
Daniel

[2016-05-26 07:52] tothandras commented on #124
Hi @d-winter,
you are right, I've changed that in the past. Should we restrict query for indexed fields only?

[2016-05-26 17:35] d-winter commented on #124
Hey @tothandras ,
I thought this restriction was defined to avoid slow queries on non index fields.

[2016-05-27 20:51] grimabe commented on #123
Hi @tothandras,
Thanks for the answer, I tried exactly the code you wrote but the field is still not modified in the database.

Do you have something else to try ?

[2016-05-28 14:57] joeyfigaro opened #125 "Regenerator Runtime?"
Having issues running my compiled server (compiled via webpack) and am receiving the following error:
[code]

I've tried adding it as the first entry in my webpack config, and have tried requiring (separately, two different attempts) both `rengerator-runtime/runtime` and `babel-polyfill` in `server.js` (my primary entry) - I've also tried creating a bootstrap that requires `babel-polyfill` prior t

[2016-05-28 15:16] joeyfigaro commented on #125
Ended up being an issue with the way I was exporting my schema in `schema/index.js`... I ended up changing the export to:

[code]

and the corresponding import to:
[code]

[2016-05-28 15:16] #125 closed

[2016-06-01 15:28] sibeliusseraphini opened #126 "DataLoader support"
[DataLoader](https://github.com/facebook/dataloader) can improve performance

take a look on this [article](https://blog.jacobwgillespie.com/from-rest-to-graphql-b4e95e94c26b#.3e0478f6u) in the section about Data Loader

[2016-06-01 15:30] sibeliusseraphini commented on #105
@nodkz any progress on this?

[2016-06-03 04:50] nodkz commented on #105
@sibelius internally I totally rewrite module with different architecture for our project purposes.
But it not ready for OSS yet, cause API is not stable (I don't like that some things can be done via different ways and also I have not enough free time to document it).

[2016-06-07 08:59] nodkz commented on #105
@sibelius @tothandras just started develop new module https://github.com/nodkz/graphql-compose

Also you may see my previous version https://github.com/nodkz/graphql-mongoose which I won't publish to npm (reason - mash code in app).

[2016-06-10 04:08] DaveyEdwards commented on #111
I also have this error when trying to implement pagination.  I have a connection which I am trying to load more results.  There are 22 nodes in my edge and if i query 6, then onclick request +6 more I get the error.  With initial variables at 25 or any number there is no issue, only when updating relay variables.  Anyone see what I could be doing wrong?

Inside the header this is the error
`
{stat

[2016-06-16 04:35] shenyzore opened #127 "The 4th params of resolve hooks.pre middleware was always null"
Is the home page's doc Resolve hooks section out of date or it's an issue?
In my test the 4th params of resolve hooks.pre middleware was always null, but the 5th params return right object contains `fieldName`.

[2016-06-16 08:31] shenyzore commented on #127
ok, i think this is an issue in the `graffiti` lib.
It pass the same `request` object in `graphql` function at the 3rd and 4th parameters which are `rootValue` and `context`.
I use `express-graphql` lib instead of `graffiti` and it's work good.

[2016-06-16 09:16] shenyzore commented on #127
Issue still, when i use `express-graphql` without provide the `context` parameter, graphql works well,but the 4th parameter of resolve hooks.pre middleware still null.
And when i provide the `context` parameter for graphql, the 4th parameter of resolve hooks.pre middleware contains it but graphql show errors "Cannot read property 'selectionSet' of undefined".

[2016-06-21 15:38] tothandras commented on #127
Hi @shenyzore,
I [remember updating](https://github.com/RisingStack/graffiti/commit/4d20f70290601692b81930a3eabac378eb0ef89e) the parameters to graphql `>=5.0.0`, but I probably missed something.
I see a lot of: `addHooks((rootValue, args, context, info) => {})` in `graffiti-mongoose` which seems to be still for the pre `5.0.0` version.
Can you open a PR?

[2016-07-04 15:17] yoadsn opened #128 "Implicit dependency on babel-polyfill"
Hey,
I believe a lib like graffiti-mongoose ought to not take implicit dependencies on the polyfills provided by Babel.
I currently have an issues when I update all my Babel tool chain grafitti-mongoose throws:

`ReferenceError: regeneratorRuntime is not defined`
In:
`\node_modules\@risingstack\graffiti-mongoose\lib\query\query.js:15`

When I restore the modules to the older version - it works.
Al

[2016-07-05 08:20] yoadsn commented on #128
Additionally, if all that is required is the regenerator runtime - you can rely on `regenerator-runtime` explicitly.

[2016-07-07 01:53] pbrain19 commented on #128
did you ever get this to work? been trying for a whle now and no luck

[2016-07-07 10:25] yoadsn commented on #128
Yeah, I got to the bottom of this.

I'm using Webpack - so I got it to work by including in Webpack a pre entry with `regenerator-runtime\runtime` which exported `regeneratorRuntime` globally before the babel loader (which uses the `transfrom-runtime` internally) had a chance to call it and prevent it from exporting later on when `babel-polyfill` was loaded.

So no my relevant part in webpack.conf

[2016-07-07 15:11] mo4islona commented on #128
+1

[2016-07-09 22:03] pbrain19 commented on #59
please add to readme.

[2016-07-22 11:49] nodkz commented on #99
Solve sorting problem in https://github.com/nodkz/graphql-compose-mongoose

The main secret in `cursor`s:
- for every document in cursor you should store values from fields, by which you make the sort (e.g.  .sort({ _id: 1, age: 1}) then you should construct such cursor base64(_id: 34ef85...34, age: 28)
- sort can be proceeded only by unique indexes (to avoid overlapping)
- when proceeding `before

[2016-07-26 09:37] tothandras commented on #128
Hi @yoadsn, @mo4islona, @pbrain19,
could you try out version `5.2.0`?
Thank you!

[2016-07-26 09:39] tothandras commented on #124
Hey @d-winter,
you are right, but we've removed this restriction. It's up to the developer to use index on a field, but we still allow it to be queried.

[2016-07-26 09:39] #124 closed

[2016-07-26 09:40] #122 closed

[2016-07-26 17:40] tothandras commented on #123
Hi @grimabe,
sorry for the delay. I've just realised that the field hooks are for query, not mutation. So this is what you need to do (using the [example](https://github.com/RisingStack/graffiti-mongoose/tree/master/example) in the project) to change arguments for mutations:
[code]

Let's see a user:
[code]
![image](https://cloud.githubusercontent.com/assets/4157749/17148762/b47b4a32-5368-11e6-948

[2016-07-28 08:17] yoadsn commented on #128
Sure, I'll upgrade and check it out - Problem is that usually when I upgrade Graffiti it breaks all kind of stuff and many dependencies have to be changed as well.
QA cycle is quite tedious - Here for example is a compatibility list I created when last updated:

Not Working:
@risingstack/graffiti@3.0.3
@risingstack/graffiti-mongoose@5.0.10
graphql@0.5.0

Not Working:
@risingstack/graffiti@3.0.4
@r

[2016-07-28 08:34] tothandras commented on #128
@yoadsn Sorry about that! We are not using GraphQL internally, so I just try out if the examples are working and that's all. I try my best to keep this project in a good shape despite this. :)
You can even try out other GraphQL middleware, like `express-graphql` with `graffiti-mongoose`.

[2016-07-29 17:17] zopf opened #129 "Setting currently-valued fields to null in update mutation"
## Overview of the Issue

I cannot easily update a field on an object that currently has a value to be `null`.

It seems this is because the `graphql-js` library is stripping null variables that get passed to it, since the GraphQL spec currently does not have a concept of a null field value.  Please see https://github.com/graphql/graphql-js/issues/133 and https://github.com/facebook/graphql/pull/8

[2016-08-02 13:33] zopf commented on #129
Here's my hack to make deletions possible: https://github.com/wellth-app/graffiti-mongoose/commit/886e8f3bbae16bf7d08db568203f74ea49a3433c

[2016-08-02 13:36] zopf commented on #129
... and then I made this middleware that I can drop into my Koa stack to grab null variables from things that look like mutations and add their paths to the `deletions` argument:

[code]

[2016-08-04 11:53] flipace commented on #64
any updates on this issue?

[2016-08-10 13:48] yoadsn commented on #128
@tothandras Thank you for the disclaimer.
Since I am basing a production app on this library today - would you advise against using the schema generation of `graffiti-mongoose` for production use?
The `graphql-js` and `graphql-relay` project evolve in a reasonable pace and with some breaking changes so I wonder if you will try and keep up or this repo is abandoned.

[2016-08-10 13:56] tothandras commented on #128
@yoadsn It's perfectly fine if you are okay with the current feature set. You can always migrate to hand written schema later if you need more control over it. I try to keep up with dependency updates and fixing issues, but sadly, I can't focus on graffiti as I originally planned. And as always, PRs are always welcomed!

[2016-08-10 14:59] Dugnist opened #130 "How to make a custom field: id?"
As i understand - now my "id" generated from mongoose "_id" field, but how to make it custom?

[2016-08-10 15:02] tothandras commented on #130
You need to create another field. `id` is used by Relay and it encodes the resource type along the mongoose `_id` too.

[2016-08-10 15:09] tothandras commented on #127
Can you check with the latest graffiti and graffiti-mongoose?

[2016-08-10 15:16] Dugnist commented on #130
@tothandras ok, as then i can create unique field or rewrite _id during create new document?

[2016-08-10 15:17] Dugnist commented on #130
@tothandras i try used "unique: true" in mongo schema and it did not work...(

[2016-08-10 15:18] tothandras commented on #130
@Dugnist for what do you need a custom `id`?

[2016-08-10 15:21] tothandras commented on #130
does this work or not?
[code]

[2016-08-10 15:22] Dugnist commented on #130
@tothandras i need create a full object that include field "id" on the client-side and then push them on server...

[2016-08-10 15:27] tothandras commented on #130
@Dugnist hmmm.. why not just use the ids you get back when inserting objects with a mutation? so you can have the ids on the client side too for new objects

[2016-08-10 15:32] Dugnist commented on #130
@tothandras yes - index: { unique: true } is working. Thank you. And you really don't know maybe how can circumvent restriction with "id" field? The policy of my project require creating unique id on the client...(

[2016-08-10 15:47] Dugnist commented on #130
@tothandras unfortunately i cannot do any request with my custom field "ID" without default field "id"...(

This mutation not working... I know why and it sadly...(

mutation{
  updateDocument(input:{
    name: "Name of Document",
    ID : "123",
    clientMutationId: "1"
  }) {
    changedDocument {
      ID
    }
  }
}

[2016-08-10 16:06] tothandras commented on #130
@Dugnist To be honest I've never heard unique id and client side in the same sentence. :) As the user has full control over the sent object, you eventually need to validate it server side.
What you can try is to use a plural query with the ID and then you can get the actual id to do the mutation.. it's something

[2016-08-10 17:20] #130 closed

[2016-08-10 17:37] shenyzore commented on #127
I checked the latest graffiti and graffiti-mongoose and it works well, thanks!

[2016-08-10 17:37] #127 closed

[2016-08-15 08:43] yoadsn opened #131 ""TypeError: Cannot read property 'forEach' of undefined" when embedded object field is a reference"
## Overview of the Issue

Querying a schema field which is a reference and is a sub field of an embedded object fails graphql validation with error:

[code]
The relevant parts of the stack trace of the internal graphql execution is:
[code]

## Reproduce the Error

Steps to reproduce:
1. Create the following mongoose schema

[code]

2. Create a graphql schema using graffiti-mongoose
[code]

3. Exec

[2016-08-15 08:54] yoadsn commented on #131
I suspect this might be a bug in Graphql.js itself. since in the "type" docs of Graphql the "args" property of a field is optional. From [here](http://graphql.org/docs/api-reference-type-system/#graphqlobjecttype):

[code]

Should I open a bug in graphql?

[2016-08-15 11:03] tothandras commented on #131
@yoadsn looking at it

[2016-08-15 11:04] tothandras commented on #131
feel free to open the PR, I will try to fix the tests

[2016-08-15 20:12] yoadsn commented on #131
After many hours of debugging-  I think I have found the problem - deep inside the type.js source code.
I will update later when I have a suggestion for a fix.

[2016-08-15 20:13] tothandras commented on #131
@yoadsn Thank you, I really appreciate!

[2016-08-15 21:00] yoadsn commented on #131
Ok, For future reference here is a brief of the problem and how it was resolved.

Since ever graphql was memoizing access to the `getFields()` method of a `GraphQLObjectType` so that the calculation is stored internally on the `_fields` property and returned from that field if already calculated.

[code]
code [here](https://github.com/graphql/graphql-js/blob/3cf66f33e30d467b068b4054e120562b01d885b

[2016-08-16 05:44] #131 closed

[2016-08-21 10:36] yoadsn commented on #120
I'm also looking to customize similar things in the generated schema.
But wouldn't that pollute the mongoose schema too much with graffiti dialect?

What did you do so far to solve your needs?

[2016-08-21 14:34] yoadsn opened #133 "Custom query thunk - accepts only InputObject types"
## Overview of the Issue

The custom query function accepts the `types` object which only has the `InputObject` kind of the schema types.
This might make sense for the Custom Mutations but why is it so also for the queries?
Do I miss something?

## Suggest a Fix

Perhaps pass both kinds, the input and the normal types of the schema.

[2016-08-22 20:04] ajagesser commented on #64
@tothandras what solution should we use for now??
At the moment I'm implementing the hacky solution of @jashmenn

[2016-08-26 09:41] #128 closed

[2016-08-26 09:41] #123 closed

[2016-09-07 08:47] stoffern commented on #126
this would definitely be a win

[2016-09-07 09:10] stoffern commented on #103
Dont think this is relay supported.
Why would you have topics as a parent of forum anyways?

It should be like this:
[code]

[2016-09-08 07:02] stoffern commented on #64
@sibelius I dont think that graffiti will work well together with relay if you want to customize every type of data.
I am setting up a specification for a ORM where you define the table, and graphql/relay data in once place. There may be other solutions but i think this is the best so far..
https://github.com/stoffern/graphorm-spec
Please come with ideas :wink:

[2016-09-08 07:10] nodkz commented on #64
@stoffern take a look on https://github.com/nodkz/graphql-compose
And it's examples (server) http://graphql-compose.herokuapp.com/
Relay live example (client) https://nodkz.github.io/relay-northwind/

Please come with ideas 😉

[2016-09-08 17:36] developer-rakeshpaul opened #145 "Question on customQueries"
## Overview of the Issue

When we define customQueries as functions, the value passed to the function has only graphql InputType objects. I am curious to know why it is done that way.

In my current project i am trying to utilize the customQueries like below

[code]

[code]

For the above code to work the customQuery method should get the model type as an argument to the getCustomQueries

I was ab

[2016-09-12 13:26] tothandras commented on #145
Hi @developer-rakeshpaul, you get a `GraphQLInputObjectType` in your customQueries function as the first parameter, not the actual types with `Algorithm`. Here is a PR that can help you without breaking change: #148. Let me know if it helps, I can merge and publish it then.

[2016-09-12 13:27] tothandras commented on #133
Does this help #148?

[2016-09-12 14:08] yoadsn commented on #133
Yeah, awesome.
I have implemented the same locally for testing..
When do you expect to deliver it?

[2016-09-12 14:11] yoadsn commented on #145
Although one has to ask how common is it to use the input types for Queries, where inputs are most likely simple types and not complex like with mutations..

[2016-09-12 14:14] tothandras commented on #145
I agree, but I am not sure if anyone uses that. We can have a breaking
change if it's more reasonable.

On Mon, Sep 12, 2016, 16:12 Yoad Snapir <notifications@github.com> wrote:

[2016-09-12 14:41] yoadsn commented on #145
It is unfortunate but I agree with you - it is probably best not to break comp. and just add another arg.

[2016-09-12 15:02] tothandras commented on #145
okay, I will merge the PR as it is and release it

[2016-09-12 15:07] tothandras commented on #133
released in version `5.3.0` 😉

[2016-09-12 15:07] #133 closed

[2016-09-12 15:08] tothandras commented on #145
released in version `5.3.0` 😉

[2016-09-12 15:08] #145 closed

[2016-09-12 21:54] cellis opened #150 "Example project doesnt work with graffiti@3.1.1 and graffiti-mongoose@5.3.0"
## Overview of the Issue

Example project doesn't work with @risingstack/graffiti-mongoose@5.3.0 and @risingstack/graffiti@3.1.1. (UNMET PEER DEPENDENCY: graphql )

## Reproduce the Error

Steps to reproduce:
1. `npm install --save @risingstack/graffiti-mongoose@5.3.0`
2. `npm install --save @risingstack/graffiti@3.1.1`
3. `npm install graphql`

Node version: `6.0.0`

## Suggested fix

The least c

[2016-09-13 07:15] developer-rakeshpaul commented on #145
@tothandras thanks for the PR..

[2016-09-15 08:25] ronicos commented on #126
+1

[2016-09-15 08:43] tothandras commented on #150
Thank you! I've updated the example dependencies.

[2016-09-15 08:43] #150 closed

[2016-09-26 23:40] lyxsus commented on #64
Sorry, is there any solution for that which will work on current version?

[2016-09-27 06:30] stoffern commented on #64
@lyxsus graphql-compose have everything 😉

[2016-09-28 07:53] kruschid opened #164 "Async hook support"
I would like to use bcrypt in order to encrypt user passwords.
Basically bcrypt provides both synchronus and asynchronous methods to achieve this.

Regarding the performance I tried the async method inside a mutation pre hook first:

    mutation: {
      pre: (next, args, context, info) {
        bcrypt.hash(args.password, 8, (err, hash) => {
          args.password = hash;
          console.log(

[2016-10-03 21:40] timpler commented on #164
Same issue

[2016-10-19 01:43] unirey commented on #59
@tothandras Im not using Graffiti but I really, really need the sorting support with Relay cursors for all fields, including non-unique or non-indexed fields.

Could you please explain briefly the main idea behind #61 so that I could implement it with Mongoose?

[2016-10-19 13:10] tothandras commented on #59
@unirey sure. The `orderBy` parameter has a type of `GraphQLEnumType`. For each field in your model you need to make two possible [`value`](https://github.com/RisingStack/graffiti-mongoose/pull/61/files#diff-87327454bbf7054756bdd421367ddfd4R86) for this enum. I've named it `field.name.toUpperCase() + '_DESC'` for descending order and `field.name.toUpperCase() + '_ASC'` for ascending order. In Mong

[2016-10-19 22:22] cellis opened #186 "How to use Express Middleware for Authentication/Authorization."
Hi, I'm wondering how to do authorization with Express Middleware. I know the docs suggest using the `hooks` provided, but I'm unsure how to proceed with e.g. a passport-js enabled api. How, for example, do I pass the `req.user` to the context, as suggested [In this article](https://medium.com/apollo-stack/a-guide-to-authentication-in-graphql-e002a4039d1#.86m3e3rw4). TLDR; i'm looking for how to d

[2016-10-20 00:24] cellis commented on #186
Upon closer inspection, i have figured this out. However the README should be updated as the `request` parameter is `undefined`, while the `root` parameter actually contains the request.

[code]

Perhaps the shifted signature of graphql@0.6.2 has something to do with it. Here's the signature at 0.6.2:
[code]

And here's what graffiti passes:
[code]
at [L41](https://github.com/RisingStack/graffiti/

[2016-10-25 07:30] tothandras commented on #164
I'll take a look!

[2016-10-28 19:24] danielmahon commented on #66
Was there ever any update to this?

[2016-10-28 20:56] danielmahon opened #194 "Get specific field validation error?"
## Overview of the Issue

@tothandras Sorry to raise the dead (#66) but do you have a working example of how to get the individual field validation errors for a mutation? The only error graphql seems to give back is "`modelName` validation failed". I see where mongoose is calling that error but I can't find why it's calling THAT error and not the specific one for the field. Thanks for any help.

#

[2016-10-28 23:06] danielmahon opened #195 "How to mutate nested Schema?"
## Overview of the Issue

I must be missing something but how do you create/update a nested schema? For example, I am unable to create the `street1` attribute under the `location` path. No errors are thrown.
## Reproduce the Error

![cursor_and_graphiql_and_text_field_-_material-ui](https://cloud.githubusercontent.com/assets/1088089/19824851/2e1f9d62-9d41-11e6-9c7f-df5f1f22260f.png)

Node version:

[2016-10-31 06:02] dortzur commented on #117
+1

[2016-11-22 10:18] nlug opened #201 "What is different between id and _id"
## Overview of the Issue

I can see we can use both `id` or `_id` to query some document. But with one is refer to?
I checked out in my monbodb data that it only store `_id`. Then id is maped base on `_id` ? If yes, how to generate id from `_id`

[2016-11-22 14:07] tothandras commented on #201
Hey @nlug, `_id` is the mongoose identifier and `id` is a unique identifier across all types which is also encodes the model type. It was needed for the Relay to have globally unique ids.
https://github.com/RisingStack/graffiti-mongoose/blob/1d1f6d1d3d18c52da969ef9694c8b6a619679170/src/query/query.js#L99

[2016-11-23 03:45] #201 closed

[2016-11-28 03:56] #186 closed

[2016-11-28 21:02] jpacora opened #202 "UNMET PEER DEPENDENCY"
## Overview of the Issue

Error during npm nstall

[code]

## Reproduce the Error

Exec: npm install graphql @risingstack/graffiti-mongoose  --save

[2016-11-29 18:28] pswoodworth commented on #101
@tothandras have you made any progress on this? If you'd be interested in sharing how you might go about it I might have time to take a crack at a PR.

[2016-11-29 18:30] pswoodworth commented on #202
This actually isn't a bug – it's NPM telling you that you'll need to install `graphql` as a peer dependency at version 0.7.X.

`npm install graphql` will install the latest, currently 0.8.3, which is not supported by graffiti-mongoose at the moment. `npm install graphql@0.7` should clear things up for you.

[2016-11-30 16:20] tothandras commented on #101
@pswoodworth sadly, no. Feel free to contact me if you need help for the PR ([andras.toth@risingstack.com](mailto:andras.toth@risingstack.com)).

[2017-01-10 21:53] jashmenn opened #203 "Maintainer Volunteer Thread"
I volunteer to be a maintainer. I think this library is fantastic and should be way more popular than it is.

[2017-02-07 08:24] katopz commented on #203
@jashmenn I think so, I'll help in case I'll need this in production. :)

[2017-02-07 09:29] katopz commented on #101
I think I need this pretty soon How can I help? Did you guys have any approach yet?
I can see graph.cool call it [Simple  API](https://www.graph.cool/docs/reference/simple-api/pagination-ojie8dohju) vs [Relay API](https://www.graph.cool/docs/reference/relay-api/pagination-riekooth4o)

Maybe we can just rip out `input`, `viewer` and `edges`?
But I'm not sure about how can we toggle between `Simple

[2017-02-08 18:11] toverux commented on #64
Just adding my $0.02: Yes, I think that the library should be more extendable and flexible. I've just tried it and thought about integrating it in my new application, because the generated schema is simply awesome.
However... I was very disappointed to see that:

 - Mongoose hooks aren't called, and the alternative (root-level hooks) is not very sexy
 - I can't add validation easily
 - Can't manag

[2017-02-08 18:48] sibelius commented on #64
We built [CreateGraphQL](https://github.com/lucasbento/create-graphql) that generate code from mongoose models.

Code generation is the best way to be extensible and very customizable.

Check it out our post: https://medium.com/entria/announcing-create-graphql-17bdd81b9f96#.6ez6y751o

We would like to be very extensible and support multiples databases and templates https://github.com/lucasbento/cr

[2017-02-12 16:42] katopz commented on #186
@cellis for `mutation` is even more weird
doc
[code]
actually
[code]

And `context` is empty `{}`

[2017-02-12 17:45] tothandras commented on #186
Thanks for finding this! PR's are welcomed if you have time to fix it @cellis, @katopz!

[2017-02-12 18:22] katopz commented on #186
@tothandras I'm not sure PR for read me is enough, something really wrong there
Here's workaround for me atm
[code]
Somehow nested viewer change an order of arguments, and here's a problem
[code]
Took me a day to figure this out 🤕

[2017-02-13 18:04] Teerapat12 opened #207 "Mongoose ObjectId and GraphQL id is not the same. How to link them?"
I am quite new to GraphQL, and I am quite confuse with the concept.
My Mongoose ObjectId and GraphQL id is not the same. How can I use Id from Mongoose can find that Object through graphQL and vice versa?  Or do I only have to create new field to link the two?

This is my mongoose schema.
`const userSchema = new Schema({
    name: String,
    email: String,
    password: String,
    permission_lev

[2017-02-13 19:13] jashmenn commented on #207
Hey @Teerapat12! So this is actually by design. The GraphQL ID encodes the type of the object, as well as the mongodb ID.

[2017-02-14 00:43] Teerapat12 commented on #207
Does GraphQL have anyway of decoding the ID to become MongodbID?

[2017-02-14 01:06] Teerapat12 commented on #207
I think I got it now. Thank you very much. :D

[2017-02-14 09:54] Teerapat12 commented on #207
More questions.
-So why does GraphQL need to encode type of the object?
-What is the advantage of this?
-And if I have a mongoose UserId, how can I fetch that User but instead of mongoose, I use GraphQL instead? Or do I only have to use GraphQL

Thank you in advanced.

[2017-03-20 15:26] JohnProg commented on #195
Can you show us the error that you get when you hover the line red error?

[2017-03-20 15:44] JohnProg opened #208 "It is possible to add some description to schema and to be reflected in the docs?"
## Overview of the Issue

Give a short description of the issue.

[code]

## Reproduce the Error

Provide an unambiguous set of steps, input schema, Node version, package version, etc.

Steps to reproduce:
1. step
2. step
3. step

Input schema(s):
[code]

Node version: `4.4.7`
Graffiti-Mongoose version: `5.2.0`

## Related Issues

Has a similar issue been reported before?

## Suggest a Fix

If you

[2017-03-20 16:10] danielmahon commented on #195
@JohnProg I will close this, I believe this was an issue on my end with `location` being a reference to another document and not actually nested itself.

[2017-03-20 16:10] #195 closed

[2017-03-20 19:04] JohnProg commented on #195
Nice.

[2017-03-29 15:22] #101 closed

[2017-04-06 18:24] JohnProg commented on #64
This was my solution:
[code]
I hope this can help you :).

[2017-04-20 10:14] TLevesque opened #209 "Does graffiti-mongoose works with react-apollo ?"
Hi Everyone, does somebody know if graffiti-mongoose also works with react-apollo? Or is it limited to relay only?
Thanks,
Thibaut

[2017-04-20 15:21] JonathanWbn commented on #209
I am using it in my koa application and it works fine with my react-apollo frontend.

[2017-04-20 16:12] TLevesque commented on #25
Hi, is there some news about the support of mongoose virtual fields in Graffiti?
Thanks!

[2017-04-20 16:48] TLevesque commented on #209
I confirm, it's handling react-apollo pretty well!

[2017-04-20 16:48] #209 closed

[2017-04-22 13:53] JonathanWbn opened #210 "Custom mutations?"
Hey there, really love this package, really helpful. Thank you!

My question: Is there a way to write custom mutations to extend the default ones? How would one go about that syntax-wise? Can't find it in the documentation.

[2017-04-22 17:50] #210 closed

[2017-04-22 18:03] JonathanWbn opened #211 "Custom queries/mutations"
Hey there, first of all thanks for the package, really good stuff.

I am trying to figure out how to write custom queries, but I am struggling with the syntax.
At the moment I am doing something like this for my schema:
[code]
When I run the test query tho i just get this result:
[code]
Where am I going wrong here?

[2017-05-19 14:09] JohnProg commented on #211
This was my solution:
[code]
I hope this can help you :).

[2017-05-21 18:33] #211 closed

[2017-12-18 18:28] #115 closed

[2018-01-22 05:59] caizx666 opened #212 "setTypeFields bug"
fix Error: Schema must contain unique named types but contains multiple types named

function setTypeFields(type, fields) {
  type._typeConfig.fields = function () {
    return fields;
  };
}

change to

function setTypeFields(type, fields) {
  type._fields = null;    // for reset
  type._typeConfig.fields = function () {
    return fields;
  };
}

[2019-04-21 23:26] tedchsk commented on #207
(Why did I get the thumbsdown? What did I do wrong)

[2019-04-21 23:26] #207 closed